<include file="Public/header" />
<div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <div class="nav-collapse">
                    	<p class="install_logo"><span>{$sys_name}</span></p>
                    	<ul id="step" class="nav">
                    	   <li class="active"><a href="javascript:;">安装协议</a></li>
                            <li class="active"><a href="javascript:;">环境检测</a></li>
                            <li class="active"><a href="javascript:;">创建数据库</a></li>
                            <li><a href="javascript:;">升级</a></li>
                            <li><a href="javascript:;">完成</a></li>
                    	</ul>
                    </div>
                </div>
            </div>
        </div>



 <div class="jumbotron masthead">
            <div class="container">
    <h1>升级</h1>
    <p>检测到已经安装过系统，点击下一步开始进行系统升级！</p>
</div>
</div>


 <footer class="footer">
            <div class="container">
                <div>
    <a class="btn btn-success btn-large" href="{:U('Install/step1')}">上一步</a>
    <a class="btn btn-primary btn-large" href="{:U('Install/step3')}">下一步</a>
   </div>
            </div>
        </footer>
<include file="Public:footer" />
