<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>添加修改友情链接</title>
<include file="Common:jscss" />
</head>
<body>
<div class="container-fluid"> 
<include file="Common:position" />
<div id="main" class="main" >
  <div class="content">
    <form action="{:U($method)}" method="post" enctype="multipart/form-data" name="form2" id="playList">
      <input name="id" type="hidden" value="{$info.id}">
      <table class="table table-bordered table-hover definewidth m10" style="font-size:12px">
        <tr  bgcolor="#FFFFFF">
          <th>公众号类型： </th>
          <td width="1139" colspan="5" style="text-align:left;"><span class="tLeft">
          	<volist name="wechat_type" id="vo">
         	 <label style="float:left; margin-right:20px;">
                <input type="radio" name="wechat_type" value="{$key}" id="linktype_{$key}" <eq name="info['wechat_type']" value="$key">checked</eq> <if condition="empty($info['wechat_type']) and $key eq 1">checked</if> >
                {$vo}</label>
             </volist> 
              
                 </span>
              </td>
        </tr>
        
        <tr bgcolor="#FFFFFF">
          <th width="132"> 公众号名称： </th>
          <td colspan="5"  class="tLeft"><input name="name" type="text" id="name" class="form-control w30" value="{$info.name}">
            &nbsp;<span class="tip"></span></td>
        </tr>
        <tr  bgcolor="#FFFFFF">
          <th> 公众号原始ID： </th>
          <td colspan="5" style="text-align:left;"><span class="tLeft">
            <input name="originid" type="text" id="originid" class="form-control w30" value="{$info.originid}">
            </span></td>
        </tr>
        
            <tr  bgcolor="#FFFFFF">
          <th> 微信号： </th>
          <td colspan="5" style="text-align:left;"><span class="tLeft">
            <input name="wechat_name" type="text" id="wechat_name" class="form-control w30" value="{$info.wechat_name}">
            </span></td>
        </tr>
        
         <tr  bgcolor="#FFFFFF">
          <th> 微信TOKEN： </th>
          <td colspan="5" style="text-align:left;"><span class="tLeft">
            <input name="wechat_token" type="text" id="wechat_token" class="form-control w30" value="<empty name="info['wechat_token']">{$wxuniqid}<else />{$info.wechat_token}</empty>">
            </span>
            <button type="button" class="btn btn-success" id="reset_token" >重新生成</button>
            </td>
        </tr>
         
        <tr  bgcolor="#FFFFFF"  id="logo" >
          <th> 公众号头像： </th>
          <td colspan="5" style="text-align:left;"> 
            <input name="wechat_thumb_txt" type="text" id="wechat_thumb_txt" class="form-control w30" value="{$info.wechat_thumb}" style="float:left;"><input name="wechat_thumb" type="file">
        	  <notempty name="info['wechat_thumb']">
           <div class="page m15 margin_bottom"> <img name="member_face_img" id="member_face_img" src="{$info.wechat_thumb}" width="128" height="128" alt=""></div>
            </notempty>
           
            </td>
        </tr>
      
  
        <tr  bgcolor="#FFFFFF">
          <th> AppID： </th>
          <td colspan="5" style="text-align:left;"><span class="tLeft">
            <input name="appid" type="text" id="appid" class="form-control w30" value="{$info.appid}" >
            </span></td>
        </tr>
        <tr  bgcolor="#FFFFFF">
          <th> AppSecret： </th>
          <td colspan="5" style="text-align:left;"><span class="tLeft">
            <input name="appsecret" type="text" id="appsecret" class="form-control w30" value="{$info.appsecret}" >
            </span></td>
        </tr>
        <tr  bgcolor="#FFFFFF">
          <th> EncodingAESKey： </th>
          <td colspan="5" style="text-align:left;"><span class="tLeft">
            <input name="encodingaeskey" type="text" id="encodingaeskey" class="form-control w30" value="{$info.encodingaeskey}" >
            </span></td>
        </tr>
        <tr  bgcolor="#FFFFFF">
          <th> 是否显示： </th>
          <td colspan="5" style="text-align:left;"><label style="float:left; margin-right:10px;"> <input type="radio" name="status" value="1" id="ishome_0" 
              <if condition="$info['status'] eq 1">checked</if>
              >
              是</label>
            <label style="float:left; margin-right:10px;"> <input type="radio" name="status" value="0" id="ishome_1" 
              <if condition="$info['status'] eq 0">checked</if>
              >
              否</label></td>
        </tr>
    
        <tr bgcolor="#FFFFFF">
          <td  class="tLeft">&nbsp;</td>
          <td colspan="5"  class="tLeft"><input type="submit" name="button" id="button" class="btn btn-primary btn6" value="保存">
           <button type="button" class="btn btn6" onclick="history.go(-1)" name="backid" id="backid">返回</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
</div>
<script type="text/javascript">    
$(document).ready(function(){
	$("#button").click(function(){
		var name=$("#name"),originid=$("#originid"),wechat_name=$("#wechat_name");
		if(name.val().length<=0){
			layer.tips('请输入公众号名称', '#name',{tips: [2, '#3a8ea1']});
			return false;	
		}
		if(originid.val().length<=0){
			layer.tips('请输入公众号原始ID', '#originid',{tips: [2, '#3a8ea1']});
			return false;	
		}
		if(wechat_name.val().length<=0){
			layer.tips('请输入微信号', '#wechat_name',{tips: [2, '#3a8ea1']});
			return false;	
		}
		return true;
	});
	$('#reset_token').click(function(){
            $.post("{:U('index',array('uniqid'=>1))}",function(data){
                $('#wechat_token').attr('value',data);
            });
     });

});
</script>
</body>
</html>
