<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>添加修改宣传页</title>
<include file="Common:jscss" />
</head>
<body>
<div class="container-fluid"> <include file="Common:position" />
  <div id="main" class="main" >
    <div class="content">
      <form action="{:U($method)}" method="post" enctype="multipart/form-data" name="form2" id="playList">
        <input name="id" type="hidden" value="{$info.id}">
        <input name="wechat_id" type="hidden" value="{$wechat_id}">
        <table class="insert-tab table table-hover" width="100%" style="font-size:12px">
          <tbody>
            <tr>
              <th style="width:150px">父级菜单：</th>
              <td><select name="parent_id" class="form-control w30">
                  <option value="0" 
                  <eq name="info['parent_id']" value="0">selected</eq>
                  >顶级菜单
                  </option>
                  <volist name="category_list" id="vo"> <option value="{$vo.id}"  
                    <eq name="info['parent_id']" value="$vo['id']">selected</eq>
                    >{$vo.fullname}
                    </option>
                  </volist>
                </select></td>
            </tr>
            <tr>
              <th>事件类型：</th>
              <td><select name="wechat_event" id="data-type" class="form-control w30">
                  <volist name="menu_type" id="vo"> <option value="{$key}" 
                    <eq name="key" value="$info['wechat_event']">selected</eq>
                    >{$vo}
                    </option>
                  </volist>
                </select></td>
            </tr>
            <tr>
              <th>菜单名称：</th>
              <td><input class="common-text required form-control w30" id="menu_name" name="menu_name" size="50" value="{$info.menu_name}" type="text" placeholder="例如：技术支持">
                <div class="help-block">可创建最多 3 个一级菜单，每个一级菜单下可创建最多 5 个二级菜单,详情可以查看<a href="http://mp.weixin.qq.com/wiki/10/0234e39a2025342c17a7d23595c6b40a.html" target="_blank">微信开发接口</a></div></td>
            </tr>
            <tr>
              <th>菜单排序：</th>
              <td><input class="common-text required form-control w30" id="sort" name="sort" size="50" value="{$info.sort}" type="text" placeholder="例如：50">
                <div class="help-block" >菜单从大到小排序</div></td>
            </tr>
            <tr  bgcolor="#FFFFFF">
              <th> 是否显示： </th>
              <td  style="text-align:left;"><label style="float:left; margin-right:10px;"> <input type="radio" name="status" value="1" id="ishome_0" 
              
                  <if condition="$info['status'] eq 1">checked</if>
                  >
                  是</label>
                <label style="float:left; margin-right:10px;"> <input type="radio" name="status" value="0" id="ishome_1" 
              
                  <if condition="$info['status'] eq 0">checked</if>
                  >
                  否</label></td>
            </tr>
              <tr id="data-url" <if condition="$info['wechat_event'] neq 'view'">style="display: none;" </if> >
          
            <th>跳转地址：</th>
            <td><input class="common-text required form-control w30" id="url" name="url" size="50" value="{$info.url}" type="text">
              <div class="help-block">例如：http://www.jiweixin168.com/</div></td>
          </tr>
          	
            <tr id="data-key"   >
            
          
            <th>关联关键字：</th>
            <td><input class="common-text required form-control w30" id="replay_keyword" name="replay_keyword" size="50" value="{$info.replay_keyword}" type="text">
              <div class="help-block">例如：可以从：<a href="/Wechat/reply/reply_id/1/wechat_id/{$wechat_id}.html" class="red">自定义回复</a> 中选取相应的关键字</div></td>
          </tr>
          <tr>
            <th></th>
            <td><input class="btn btn-primary btn6 mr10" id="button" value="提交" type="submit">
              <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button"></td>
          </tr>
            </tbody>
          
        </table>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function(){	
	$("#button").click(function(){
		var menu_name=$("#menu_name");
		if(menu_name.val().length<=0){
			layer.tips('请输入菜单名称', '#menu_name',{tips: [2, '#3a8ea1']});
			return false;	
		}
		return true;
	});
	
	$("#data-type").change(function(event) {
		var value=$(this).val();
		if(value == 'view'){
			$("#data-url").show();
		} else {
			$("#data-url").hide();
		}
		 
	});
})
</script>
</body>
</html>
