<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>微信公众号管理列表</title>
<base target="_self">
<include file="Common:jscss" />
<style type="text/css">
.fenye li {
	float:left;
	margin:10px 5px;
}
.listnav {
	margin:0px;
	padding:0px;
	height:150px;
	overflow:auto
}
.listnav li {
	width:50%;
	float:left;
}
.result-list{ width:50%; float:right ;margin-bottom:15px; text-align:right}
.result-list a {
	margin-right: 15px;
}
.result-list a.active{ font-weight:bold; color:#F00; font-size:16px;}
</style>
</head>
<body>
<div class="container-fluid"> <include file="Common:position" />
    <div class="result-list"> 
    <volist name="wechat_list" id="vo">
    <a  href="{:U('menu',array('wechat_id'=>$vo['id']))}"  <eq name="vo['id']" value="$wechat_id"> class="btn btn-danger"  <else />  class="btn btn-default"  </eq> >{$vo.name}</a>
    </volist>
    </div>
  <form action="{:U('index')}" method="post" name="form" class="form-inline definewidth m10" style="width:50%; float:left">
    &nbsp;
    <button type="button" class="btn btn-success" id="addnew" onClick="javascript:window.location.href='{:U('menu_add',array('wechat_id'=>$wechat_id))}'"><i class=" glyphicon glyphicon-plus"></i>添加当前公众号菜单</button>
       <button type="button" class="btn btn-primary" id="createNum" link="{:U('Home/Wechat/menucreate',array('t'=>$current_num['token'],'wechat_id'=>$wechat_id))}">生成自定义菜单</button>
  </form>
  <form action="{:U('delAll')}" method="post" name="form2" id="playList" class="form-inline definewidth m10" style="margin-left:0px;">
    <input name="typename" type="hidden" value="main">
    <table class="table table-bordered table-hover definewidth m10" style="font-size:12px">
      <tr>
        <th>选择</th>
        <th>菜单名称</th>
        <th>事件类型</th>
        <th>关联关联词</th>
        <th>排序</th>
        <th>状态</th>
        <th>添加时间</th>
        <th>操作</th>
      </tr>
      <volist name="menu_list" id="vo" key="k">
        <tr>
          <td align="center"> {$vo.id}</td>
          <td align="left">{$vo.fullname}</td>
          <td align="left">{$vo.wechat_event_name}</td>
          <td align="left">{$vo.replay_keyword}</td>
          <td align="left">{$vo.sort}</td>
          <td align="left"><if condition="$vo['status'] eq 1">是
              <else />
              <span style="color:#F00">否</span></if></td>
          <td align="left">{$vo.ctime|Date='Y-m-d H:i:s',###}</td>
          <td align="left"><a href="{:U('menu_edit',array('id'=>$vo['id']))}"> 修改</a> | <a class="delWechat" link="{:U('menu_del',array('id'=>$vo['id']))}" href="javascript:void();"> 刪除 </a></td>
        </tr>
      </volist>
       
    </table>
  </form>
</div>

<script type="text/javascript">
$(function(){
	$(".delWechat").click(function(){
		var $this=$(this);
		layer.confirm('确定要删除菜单嘛?', {
		  btn: ['确定','取消'] //按钮
		}, function(){
		  	$.get($this.attr("link"),function(data){
				 layer.msg(data.info, {icon: 1});
				setTimeout("window.location.reload();",2000);
		  	});
		});	
	});
	$("#createNum").click(function(){
		var $this=$(this);
		layer.confirm('确定要生成菜单嘛?', {
		  btn: ['确定','取消'] //按钮
		}, function(index){
			layer.close(index);
			index=layer.load(0, {shade: false});
		  	$.get($this.attr("link"),function(data){
				layer.close(index);
				if(data.status==1){
					 layer.msg(data.info, {icon: 1});
				}else{
					 layer.msg(data.info, {icon: 2});
				}
				setTimeout("window.location.reload();",2000);
		  	});
		});	
	});
})
</script>
</body>
</html>