<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>添加修改宣传页</title>
<include file="Common:jscss" />
</head>
<body>
<div class="container-fluid"> <include file="Common:position" />
  <div id="main" class="main" >
 
    <div class="content">
      <form action="{:U($method)}" method="post" enctype="multipart/form-data" name="form2" id="playList">
        <input name="id" type="hidden" value="{$info.id}">
         <input name="wechat_id_old" type="hidden" value="{$info.wechat_id}">
        <table class="table table-bordered table-hover definewidth m10" style="font-size:12px">
          <tbody>
           <tr>
              <th width="150">公众号名称：</th>
              <td><select name="wechat_id" id="wechat_id"   class="form-control w30">
              	  <volist name="wechat_list" id="vo">
                  <option value="{$vo.id}" <eq name="info['wechat_id']" value="$vo['id']">  selected="selected"</eq> >{$vo.name}</option>
                  </volist>
                </select></td>
            </tr>
            
            <tr id="title-data">
              <th>宣传页标题名：</th>
              <td><input class="common-text required form-control w30" id="title" name="title" size="50" value="{$info.title|default='公众号导航！'}" type="text" placeholder="请输入标题"></td>
            </tr>
          
            <tr class="" id="photo" >
              <th>二维码图片：</th>
              <td><div style="width:100%; display:inline-block">
               <input name="thumb_txt" type="text" id="thumb_txt" class="form-control w30" value="{$info.thumb}" style="float:left;"> <input type="file" title="点击上传图片" id="upload" name="thumb">
                </div> 
                <div class="help-block">到公众平台下载边长为12CM的二维码图片再上传，图片规格:以宽度344*344以上这个值或者是它的倍数为佳！</div>
                <notempty name="info['thumb']">
                   <div class="page m15 margin_bottom"> <img name="member_face_img" id="member_face_img" src="{$info.thumb}" width="128" height="128" alt=""></div>
                </notempty>
           
                </td>
            </tr>
            <tr>
              <th>功能简介：</th>
              <td><textarea name="content" class="common-textarea form-control" id="content" cols="30" rows="6" placeholder="请输入内容">{$info.content|default='欢迎您，我们是从事互联网web开发技术研究和信息化服务的新兴力量，我们提供网站建设、微网站建设等服务。'}</textarea></td>
            </tr>
            <tr id="data-link"  <if condition="$info['welcome_type'] eq 1"> style="display: table-row; display:none" <else /> style="display: table-row;"</if>>
              <th>版权信息：</th>
              <td><input class="common-text required form-control w30" id="copyright" name="copyright" size="50" value="{$info.copyright}" type="text" placeholder="例如：http://www.jiweixin168.com/"></td>
            </tr>
            <tr bgcolor="#FFFFFF">
              <td  class="tLeft">&nbsp;</td>
              <td colspan="5"  class="tLeft"><input type="submit" name="button" id="button" class="btn btn-primary btn6" value="保存">
              <button type="button" class="btn btn6" onclick="history.go(-1)" name="backid" id="backid">返回</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
 
$(function(){	
	$("#button").click(function(){
		var wechat_id=$("#wechat_id"),welcome_type=$("#welcome_type"),content=$("#content");
		if(wechat_id.val().length<=0){
			layer.tips('请选择公众号名称', '#wechat_id',{tips: [2, '#3a8ea1']});
			return false;	
		}
		if(welcome_type.val().length<=0){
			layer.tips('请选择欢迎语类型', '#welcome_type',{tips: [2, '#3a8ea1']});
			return false;	
		}
		if(content.val().length<=0){
			layer.tips('请输入内容', '#content',{tips: [2, '#3a8ea1']});
			return false;	
		}
		return true;
	});
})
</script>
</body>
</html>
