<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>添加修改宣传页</title>
<include file="Common:jscss" />
 <include file="Common:ueditor" />
</head>
<body>
<div class="container-fluid"> <include file="Common:position" />
  <div id="main" class="main" >
    <div class="content">
      <form action="{:U($method)}" method="post" enctype="multipart/form-data" name="form2" id="playList">
        <input name="id" type="hidden" value="{$info.id}">
        <input name="wechat_id" type="hidden" value="{$wechat_id}">
         <input name="reply_id" type="hidden" value="{$reply_id}">
        <table class="insert-tab table table-hover" width="100%" style=" font-size:12px">
                    <tbody>
                        <tr>
                            <th><font color="red">*</font>关键字：</th>
                            <td>
                                <input class="common-text required form-control w30" id="keyword" name="keyword"  value="{$info.keyword}" type="text" placeholder="例如：你好">
                                  <div class="help-block"> （多个关键词请用空格分开：例如: 高 富 帅）</div>
                            </td>
                        </tr>
                        <tr>
                            <th><font color="red">*</font>标题：</th>
                            <td>
                                <input class="common-text required form-control w30" id="title" name="title" size="50" value="{$info.title}" type="text" placeholder="请输入标题">
                            </td>
                        </tr>
                        <tr class="" id="photo">
                                <th><font color="red">*</font>封面图片：</th>
                                <td>
                                   <div style="width:100%; display:inline-block"> <input name="thumb_txt" type="text" id="thumb_txt" class="form-control w30 w30" value="{$info.thumb}" style="float:left;"><input name="thumb" type="file">
        	  <notempty name="info['thumb']">
           <div class="page m15 margin_bottom"> <img name="member_face_img" id="member_face_img" src="{$info.thumb}" width="128" height="128" alt=""></div>
            </notempty>
            </div>
                                    <div class="help-block">图片规格:以宽度360*200以上这个值或者是它的倍数为佳！</div>
                                </td>
                        </tr>
                        <tr>
                            <th>简介：</th>
                            <td>
                                <textarea name="description" class="common-textarea form-control " id="description"  placeholder="请输入简介">{$info.description}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <th style="width:120px">内容：</th>
                            <td>
                                <textarea name="content" style="height:600px;" id="content"  placeholder="请输入简介">{$info.content}</textarea> 
                                
                            </td>
                        </tr>
                        <tr>
                            <th>跳转地址：</th>
                            <td>
                                <input class="common-text required form-control w30" id="url" name="url"  value="{$info.url}" type="text">
                                <div class="help-block">例如：http://www.jiweixin168.com/</div>
                            </td>
                        </tr>
                         <tr>
                            <th>排序：</th>
                            <td>
                                <input class="common-text required form-control w30" id="listorder" name="listorder"  value="{$info.listorder}" type="text">
                                <div class="help-block">排序从大到小</div>
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <input class="btn btn-primary btn6 mr10" id="button" value="提交" type="submit">
                                <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                            </td>
                        </tr>
                    </tbody>
                </table>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function(){	
	var ue = UE.getEditor("content");
	$("#button").click(function(){
		var keyword=$("#keyword");
		if(keyword.val().length<=0){
			layer.tips('请输入关键词', '#keyword',{tips: [2, '#3a8ea1']});
			$("#keyword").focus();
			return false;	
		}
		var title=$("#title");
		if(title.val().length<=0){
			layer.tips('请输入标题', '#title',{tips: [2, '#3a8ea1']});
			$("#title").focus();
			return false;	
		}
		return true;
	});
	
 
})
</script>
</body>
</html>
