<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>微信公众号管理列表</title>
<base target="_self">
<include file="Common:jscss" />
<style type="text/css">
.fenye li {
	float:left;
	margin:10px 5px;
}
.listnav {
	margin:0px;
	padding:0px;
	height:150px;
	overflow:auto
}
.listnav li {
	width:50%;
	float:left;
}
.result-list{ width:50%; float:right ;margin-bottom:15px; text-align:right}
.result-list a {
	margin-right: 15px;
}
.result-list a.active{ font-weight:bold; color:#F00; font-size:16px;}
</style>
</head>
<body>
<div class="container-fluid"> <include file="Common:position" />

    <div class="result-list"> 
    <volist name="wechat_list" id="vo">
    <a  href="{:U('reply',array('reply_id'=>$reply_id,'wechat_id'=>$vo['id']))}"  <eq name="vo['id']" value="$wechat_id"> class="btn btn-danger" <else /> class="btn btn-default"  </eq> >{$vo.name}</a>
    </volist>
    </div>
    
  <form action="{:U('index')}" method="post" name="form" class="form-inline definewidth m10" style="width:50%; float:left">
   <volist name="reply_type" id="vo">
  <button type="button"  <eq name="key" value="$reply_id">  class="btn btn-danger" <else />  class="btn btn-default"  </eq> id="addnew" onclick="javascript:window.location.href='{:U('reply',array('reply_id'=>$key,'wechat_id'=>$wechat_id))}'">{$vo}</button>&nbsp;&nbsp;
  </volist>
    &nbsp;
    <button type="button" class="btn btn-success" id="addnew" onClick="javascript:window.location.href='{:U('reply_add',array('reply_id'=>$reply_id,'wechat_id'=>$wechat_id))}'"><i class=" glyphicon glyphicon-plus"></i>添加内容</button>
 
  </form>
  <form action="{:U('delAll')}" method="post" name="form2" id="playList" class="form-inline definewidth m10" style="margin-left:0px;">
    <input name="typename" type="hidden" value="main">
    <table class="table table-bordered table-hover definewidth m10" style="font-size:12px">
      <tr>
        <th>选择</th>
        <th>关键字</th>
        <th>图文列表</th>
        <th>排序</th>
        <th>添加时间</th>
        <th>操作</th>
      </tr>
      <volist name="userlist" id="vo" key="k">
        <tr>
          <td align="center"> {$vo.id}</td>
          <td align="left">{$vo.keyword}</td>
          <td align="left">
            <volist name="vo['text_list']" id="_v" key="_k">
              <div>{$_k}.{$_v.title}</div>
          </volist></td>
          <td align="left">{$vo.listorder}</td>
          <td align="left">{$vo.ctime|Date='Y-m-d H:i:s',###}</td>
          <td align="left"><a href="{:U('reply_tui',array('id'=>$vo['id']))}"> 推送</a> |<a href="{:U('reply_edit',array('id'=>$vo['id']))}"> 修改</a> | <a class="delWechat" link="{:U('reply_del',array('id'=>$vo['id']))}" href="javascript:void();"> 刪除 </a></td>
        </tr>
      </volist>
      
        <tr>
    <!--  <td colspan="2"><button type="button" class="btn delestatus">批量删除</button></td>-->
      <td colspan="8" style="text-align:center;">
        <if condition="trim($page) neq '' ">
          <ul class="pagination text-center" style="margin:10px 0px">{$page} </ul>
          </if>
      </td>
      </tr>
       
    </table>
  </form>
</div>
<script type="text/javascript">
$(function(){
	$(".delWechat").click(function(){
		var $this=$(this);
		layer.confirm('确定要删除图文嘛?', {
		  btn: ['确定','取消'] //按钮
		}, function(){
		  	$.get($this.attr("link"),function(data){
				 layer.msg(data.info, {icon: 1});
				setTimeout("window.location.reload();",2000);
		  	});
		});	
	});
})
</script>
</body>
</html>