<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>添加修改接口配置</title>
<include file="Common:jscss" />
</head>
<body>
<div class="container-fluid"> 
<include file="Common:position" />
<div id="main" class="main" >
<div>
<table class="table table-bordered table-hover definewidth m10" style="font-size:12px">
    <tbody>
      <tr>
        <td colspan="2"><h3 style="color:#FF0000;">请在公众平台开发者中心里的服务器配置录入以下参数：</h3>
          <p><strong>1、URL(服务器地址)：</strong><span style="color:#FF0000;">{$Think.config.SITE_URL}/Wechat/index/t/{$info.token}</span></p>
          <p><strong>2、Token(令牌)：</strong><span style="color:#FF0000;">{$info.wechat_token}</span></p>
          <p><strong>3、EncodingAESKey(消息加解密密钥)：</strong>点击随机生成得到密钥，不需要自己填写</p>
          <p><strong>4、消息加解密方式：</strong>根据自己的需要选择其中一种</p>
          <p><strong  style="color:#FF0000;">备注:</strong>在微信公众管理平台里进入开发模式，并把开发模型开启，开启后成为开发者，接着配置URL和Token,这两个值就是上面标红的内容至此配置完毕，如果配置过程中有问题，可查看<a href="http://mp.weixin.qq.com/wiki/8/f9a0b8382e0b77d87b3bcc1ce6fbc104.html" target="_blank">微信的说明文档</a></p>
          </td>
      </tr>
    </tbody>
  </table>
</div></div>
 
</div>
</body>
</html>
