<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>微信公众号管理列表</title>
<base target="_self">
<include file="Common:jscss" />
<style type="text/css">
.fenye li {
	float:left;
	margin:10px 5px;
}
.listnav {
	margin:0px;
	padding:0px;
	height:150px;
	overflow:auto
}
.listnav li {
	width:50%;
	float:left;
}
</style>
</head>
<body>
<div class="container-fluid"> 
<include file="Common:position" />
<form action="{:U('welcome')}" method="post" name="form" class="form-inline definewidth m10">
<!--  <input name="keyword" type="text" style="width:250px"  value="{$keyword}" placeholder="公众号名称"  class="form-control w30">
  &nbsp;
  <input name="btn" type="submit" value="查 询" class="btn btn-primary">-->
  &nbsp;
  <button type="button" class="btn btn-success" id="addnew" onClick="javascript:window.location.href='{:U('welcome_add')}'"><i class="glyphicon glyphicon-plus"></i>添加欢迎语</button>
</form>
<form action="{:U('delAll')}" method="post" name="form2" id="playList" class="form-inline definewidth m10" style="margin-left:0px;">
  <input name="typename" type="hidden" value="main">
<table class="table table-bordered table-hover definewidth m10" style="font-size:12px">
 
    <tr>
      <th>选择</th>
      <th>公众号名称</th>
       <th>类型</th>
      <th>标题</th>
      <th>内容</th>
     
      <th>添加时间</th>
      <th>操作</th>
    </tr>
    <volist name="welcome_list" id="vo" key="k">
      <tr>
        <td align="center"> 
          {$vo.id}</td>
        <td align="left">{$vo.wechat_name}</td>
         <td align="left"><eq name="vo['welcome_type']" value="1">文本<else />图文</eq></td>
        <td align="left">{$vo.title}</td>
        <td align="left"  style="width:400px">{$vo.content}</td>
       
        <td align="left">{$vo.ctime|Date='Y-m-d H:i:s',###}</td>
        <td align="left"> <a href="{:U('welcome_edit',array('id'=>$vo['id']))}"> 修改</a> | <a class="delWechat" link="{:U('welcome_del',array('id'=>$vo['id']))}" href="javascript:void();"> 刪除 </a></td>
      </tr>
    </volist>
    <tr bgcolor="#FFFFFF">
      <td colspan="9" align="center"><ul class="pagination text-center" style="margin:10px 0px">{$page} </ul></td>
    </tr>
    
  </table>
</form>
</div>
<script type="text/javascript">
$(function(){
	$(".delWechat").click(function(){
		var $this=$(this);
		layer.confirm('确定要删除欢迎语嘛?', {
		  btn: ['确定','取消'] //按钮
		}, function(){
		  	$.get($this.attr("link"),function(data){
				 layer.msg(data.info, {icon: 1});
				setTimeout("window.location.reload();",2000);
		  	});
		});	
	});
})
</script>
</body>
</html>