<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>发送消息-后台管理</title>
<include file="Common:jscss" />
</head>
<body>
<div class="container-fluid"> 
<include file="Common:position" />
<div id="Right">
  <form  class="definewidth m10"  action="{:U($method)}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{$info.id}" />
    <input name="name" type="hidden" value="{$info.temp_title}" />
    <table class="table table-bordered table-hover  m10">
      <tr>
        <th>节点描述：</th>
        <td width="1150"><input type="text" class="form-control w30" name="temp_title" value="{$info.temp_title}"  style="width: 380px;"/></td>
      </tr>
       <tr>
        <th>节点名称key：</th>
        <td><input type="text" class="form-control w30" name="temp_key" value="{$info.temp_key}"  style="width: 380px;"/></td>
      </tr>
 
      <tr>
        <th>是否发送邮件：</th>
        <td><label style="float:left; margin-left:10px;">
            <input type="radio" name="send_email" value="1" id="typeid_0" <if condition="$info['send_email'] eq 1">checked="checked"</if> />
            是</label>
          <label> &nbsp;&nbsp;&nbsp;
            <input type="radio" name="send_email" value="0" id="typeid_1" <if condition="$info['send_email'] eq 0">checked="checked"</if> />
            否</label></td>
      </tr>
      <tr>
        <th width="121">是否发送消息：</th>
        <td><label style="float:left; margin-left:10px;">
            <input type="radio" name="send_message" value="1" id="send_message_0" <if condition="$info['send_message'] eq 1">checked="checked"</if> />
            是</label>
          <label> &nbsp;&nbsp;&nbsp;
            <input type="radio" name="send_message" value="0" id="send_message_1" <if condition="$info['send_message'] eq 0">checked="checked"</if> />
            否</label></td>
      </tr>
        <tr>
        <th width="121">信息类型：</th>
        <td><label style="float:left; margin-left:10px;">
            <input type="radio" name="type" value="1" id="type_0" <if condition="$info['type'] eq 1">checked="checked"</if> />
            用户发送</label>
          <label> &nbsp;&nbsp;&nbsp;
            <input type="radio" name="type" value="2" id="type_1" <if condition="$info['type'] eq 2">checked="checked"</if> />
            系统发送</label></td>
      </tr>
      <tr>
        <th width="121">标题：</th>
        <td><input id="title_key" type="text" class="form-control w30" style="width: 600px;" name="title_key" value="{$info.title_key}"/></td>
      </tr>
      <tr>
        <th>发送内容：</th>
        <td><textarea id="content_key" class="form-control w30" style="height: 120px; width: 90%;" name="content_key">{$info.content_key}</textarea></td>
      </tr>
        <tr>
        <th>说明提示：</th>
        <td><input type="text" class="form-control w30" name="tip_message" value="{$info.tip_message}"  style="width: 380px;"/></td>
      </tr>
    </table>
    <div class="m10" style="margin-bottom:20px;">
      <button class="btn submit btn6  btn-primary ">提交</button>
      &nbsp;&nbsp;
      <button type="button" class="btn btn6" onclick="history.go(-1)" name="backid" id="backid">返回</button>
    </div>
  </form>
</div>
</div>
<script type="text/javascript">

$(function(){ 
  $(".submit").click(function(){
	  if($("#title").val()==""){
		  alert("标题不能为空!");
		  $("#title").focus();
		  return false;
	  }
	  if($("#content").val()==""){
		  alert("发送内容不能为空!");
		  $("#content").focus();
		  return false;
	  }
	   
  });
});
</script>
</body>
</html>
