<include file="Common:header" />
<div class="container mt20"> 
    <div class="breadcrumb" style="background:none">
    <div class="wz"> {:L('CATPOS')}：<a href="__ROOT__/">{:L('HOME')}</a> &gt; <a href="{:U('User/index')}">{:L('MEMBER_CENTER')}</a> &gt;  {:L('MODIFY_PERSONAL_INFORMATION')} </div>
  </div>
  <include file="User:left" />
  <div class="col-lg-9" style="padding-right:0; padding-left:0px;">
    <div class="user_content">
      <div class="breadcrumbs">{:L('MODIFY_PERSONAL_INFORMATION')}</div>
      <div class="user_info">
        <div class="col-1 ">
          <div class="swiper-container overflow" style="padding-bottom:100px;">
            <div class="person">
              <form action="{:U('User/info')}" method="post" enctype="multipart/form-data">
                <input name="uid" id="uid" type="hidden" value="{$userDetail.uid}">
                <input name="username" id="username" type="hidden" value="{$userDetail.nickname}">
                <input name="old_email" id="old_email" type="hidden" value="{$userDetail.email}">
                <input name="old_mobile" id="old_mobile" type="hidden" value="{$userDetail.mobile}">
                <ul>
                  <li> <span>{:L('HEAD_PORTRAIT')}：</span>
                    <div class="litpic">
                      <div class="portrait1 fleft" style="margin-bottom:10px; float:left;">
                        <notempty name="userDetail['faceurl']"> <img width="128" id="default_img" height="128"  src="{$userDetail.faceurl}" style="display: inline;">
                          <else />
                          <img width="128" id="default_img" height="128"  src="__PUBLIC__/nopic.jpg" style="display: inline;"> </notempty>
                      </div>
                      <div class="img_desc fleft"> <a href="javascript:void(0);" class="change_portrait" style="opacity: 1;">{:L('MODIFY_AVATAR')}</a>
                        <input type="file" id="imgurl"  value="" name="imgurl" style="display:none"/>
                        <div class="change_portrait_font">
                         {:L('MODIFY_AVATAR_TIP')}
                        </div>
                      </div>
                    </div>
                  </li>
                  <li><span style="margin-top:15px">{:L('USER_NAME')}：</span>
                    <div>
                      <input name="nickname" type="text" value="{$userDetail.nickname}" class="form-control w30">
                    </div>
                  </li>
                    <li><span style="margin-top:15px">{:L('REAL_NAME')}：</span>
                    <div>
                      <input name="truename" type="text" value="{$userDetail.truename}" class="form-control w30">
                    </div>
                  </li>
                  <li><span style="margin-top:15px">{:L('EMAIL')}：</span>
                    <div>
                      <input name="email" type="text" value="{$userDetail.email}"  class="form-control w30">
                    </div>
                  </li>
                  <li><span style="margin-top:15px">{:L('PHONE_NUMBER')}：</span>
                    <div>
                      <input name="mobile" type="text" value="{$userDetail.mobile}"  class="form-control w30">
                    </div>
                  </li>
                  <li class="sex"><span>{:L('GENDER')}：</span>
                    <div>
                       
                        <label style="float:left; margin-right:35px;">
                          <input type="radio" name="sex" value="1" id="sex_0" <eq name="userDetail['sex']" value="1"> checked="checked" </eq> />
                         {:L('MALE')}</label>
                       
                        <label>
                          <input type="radio" name="sex" value="2" id="sex_1"  <eq name="userDetail['sex']" value="2"> checked="checked" </eq> />
                          {:L('FEMALE')}</label>
                     
                       
                    </div>
                  </li>
                  <li><span>{:L('LOCAL_AREA')}：</span>
                    <div>
                      <select id="province" name="province"   class="form-control w30 areas" runat="server" val="city">
                        <option>{:L('PLEASE_SELECT_PROVINCE')}</option>
                        <volist name="province" id="vo"> <option value="{$vo.id}" 
                          <eq name="userDetail['province']" value="$vo['id']">selected</eq>
                          >{$vo.area_name}
                          </option>
                        </volist>
                      </select>
                      <select id="city" name="city" runat="server"  class="form-control w30 areas" val="area">
                        <option value="">{:L('PLEASE_SELECT_THE_CITY')}</option>
                        <volist name="city" id="vo"> <option value="{$vo.id}" 
                          <eq name="userDetail['city']" value="$vo['id']">selected</eq>
                          >{$vo.area_name}
                          </option>
                        </volist>
                      </select>
                      <select id="area" name="area" runat="server"  class="form-control w30">
                        <option value="">{:L('PLEASE_SELECT_AREA')}</option>
                        <volist name="area" id="vo"> <option value="{$vo.id}" 
                          <eq name="userDetail['area']" value="$vo['id']">selected</eq>
                          >{$vo.area_name}
                          </option>
                        </volist>
                      </select>
                    </div>
                  </li>
                  <li><span>{:L('CONSTELLATION')}：</span>
                    <div>
                      
                      <select id="constellation" name="constellation"  class="form-control w30">
                        <option>=={:L('CONSTELLATION')}==</option>
                        <volist name="constellation" id="vo">
                          <option id="xzn{$key}" value="{$key}" <eq name="userDetail['constellation']" value="$key">selected</eq>>{$vo}</option>
                        </volist>
                      </select>
                    </div>
                  </li>
                  <li><span style="margin-top:15px">{:L('AUTOGRAPH')}：</span>
                    <div>
                      <input name="description" type="text" placeholder="{:L('AUTOGRAPH')}" value="{$userDetail.description}"  class="form-control w30">
                    </div>
                  </li>
                </ul>
                <div class="input-sub" style="clear:both;text-align: center; ">
                  <button type="submit" class="btn btn-primary btn6"> {:L('SUBMIT')} </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="../Public/js/ajaxfileupload.js"></script>
<script type="text/javascript">
$(function(){
	//地区的选择
	$(".areas").change(function(){
            var ajaxurl="{:U('Ajax/area')}";
            var areaId=this.value;
            var areaType=$(this).attr("val");
            $.post(ajaxurl,{'areaId':areaId},function(data){
                if(areaType==='city'){
                   $('#'+areaType).html('<option value="">{:L("PLEASE_SELECT_PROVINCE")}</option>');
                   $('#county').html('<option value="">{:L("PLEASE_SELECT_THE_CITY")}</option>');
                }else if(areaType==='area'){
                   $('#'+areaType).html('<option value="">{:L("PLEASE_SELECT_AREA")}</option>');
                }
                if(areaType!=='null'){
					$("#county").show();
                    $.each(data,function(no,items){
                        $('#'+areaType).append('<option value="'+items.id+'">'+items.area_name+'</option>');
                    });
                }
            });
            
        });
		
		//上传头像
	$(".change_portrait").click(function(){
		$("#imgurl").click();
	});
	$("#imgurl").change(function(){
		var uid=$("#uid").val();
		var param={"uid":uid};
		var url="{:U('Ajax/upload')}";
		$.ajaxFileUpload({
				url:url, //你处理上传文件的服务端
				secureuri:true,
				fileElementId:'imgurl',
				dataType: 'json',
				data:param,
				success: function (data,status){
					if(data.status==1){
						$("#default_img").attr("src",data.url);
						$("#imgurl").val('');
						window.location.reload();
					}else{
						alert(data.info);
					}
				   return false;	
				}
			});
			return false;	
	});

	
})
</script>
<include file="Common:footer" />