<include file="Common:header" />
<div class="container mt20">
  <div class="breadcrumb" style="background:none">
    <div class="wz"> {:L('CATPOS')}：<a href="__ROOT__/">{:L('HOME')}</a> &gt; <a href="{:U('User/index')}">{:L('MEMBER_CENTER')}</a> &gt;{:L('ORDER_INQUIRY')} </div>
  </div>
  <include file="User:left" />
  <div class="col-lg-9" style="padding-left:0; padding-right:0;">
    <div class="user_content">
      <div class="breadcrumbs">{:L('ORDER_INQUIRY')}</div>
      <div class="user_info">
        <div class="col-1 ">
          <h5 class="title" style=" margin-bottom:15px">
            <form action="{:U('User/order')}" method="post">
             {:L('ORDER_NUMBER')}： <input id="title" type="text" class="form-control w30" name="sn" value="" style="width:50%" placeholder="{:L('PLEASE_ENTER_AN_ORDER_NUMBER')}">
              <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>{:L('QUERY')}</button>
            </form>
          </h5>
          <div class="content_info" style="padding:0; border:none;">
          <notempty name="list">
          
            <ul class="order_list">
            	<volist name="list" id="vo">
              <li>
                <div class="order">
                  <div class="l">
                  	<span>{$vo.add_time|getTimeInfo}</span>
                    <span>{:L('ORDER_NUMBER')}:{$vo.order_sn}</span> 
                    <span>{:L('CONSIGNEE')}:{$vo.consignee}</span>
                  </div>
                  <div class="r"><a href="javascript:void(0)" link="{:U('Pay/remove',array('sn'=>$vo['order_sn']))}" class="delete_order"><i class="glyphicon glyphicon-trash"></i>&nbsp;{:L('DELETE')}</a></div>
                </div>
                <volist name="vo['product']" id="product">
                <div class="con">
                  <div class="img"><a href="{$product.url}"><img src="{$product.product_info.thumb}"></a></div>
                  <div class="desc">
                    <div class="tit">
                    	<a href="{$product.url}">{$product.product_info.title} </a>
                        <notempty name="vo['attr_list']">
                         <div class="p-extra"> 
                            <volist name="product['attr_list']" id="attr">
                            <span class="txt" title="{$attr.value}">{$attr.key}：{$attr.value}</span> 
                            </volist>
                          </div>
                          </notempty>
                   </div>
                   
                </div>
                 <div class="bot">
                    	<span class="desc_l"> x{$product.goods_number}</span> 
                        <span class="desc_r">￥{$product.total_price} </span></div>
                  </div>
                 </volist>
                <div class="bottom">
                  <div class="bottom_l">
                  	<span>{:L('STATE')}：</span>
                    <eq name="vo['order_status']" value="0">
                    		<eq name="vo['pay_status']" value="0">
                            	<b>{:L('WAIT_FOR_PAYMENT')}</b>
                            <else />
                            	<b>{:L('ALREADY_PAID')}</b>
                            <notempty name="vo['pay_name']"><span  style="color:#aaa">({$vo.pay_name})</span></notempty>
                             </eq>
                     <else />
                     	<span style="color:#aaa">{:L('HAS_BEEN_CANCELED')}</span> 
                     </eq>
                  	<a href="{:U('User/order_show',array('order_id'=>$vo['order_id']))}" class="detail">{:L('ORDER_DETAILS')}&gt;&gt;</a></div>
                  <div class="bottom_r">
                  	<span>{:L('TOTAL_AMOUNT_PAYABLE')}:<b> ¥{$vo.order_amount}</b></span>
                    <div class="pay">
                    	 <eq name="vo['order_status']" value="0">
                         	<eq name="vo['pay_status']" value="0">
                  			<a href="{:U('Pay/payment',array('sn'=>$vo['order_sn']))}" class="pay_now">{:L('IMMEDIATE_PAYMENT')}</a>	<a  href="javascript:void(0)" link="{:U('Pay/cancel',array('sn'=>$vo['order_sn']))}" class="cancel_order">{:L('CANCELLATION_ORDER')}</a>
                             
                            </eq>
                          <else />
                          <a href="{:U('Cart/add',array('sn'=>$vo['order_sn']))}" class="pay_now">{:L('BUY_IMMEDIATELY')} </a>
                          </eq>
                    </div>
                  </div>
                </div>
              </li>
              </volist>
              
            </ul>
            <if condition="trim($pages)!=''">
            <div class="news_page">
            	<ul>
                	{$pages}
                </ul>
            </div>
            </if>
            <else />
            <div class="noshop">
                <i class="glyphicon glyphicon-remove" style="color:#FF0000"></i>&nbsp;{:L('NO_ORDER')}，<a href="__ROOT__/">{:L('SHOP_IMMEDIATELY')}</a>
             </div>
            </notempty>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<include file="Common:layer" />
<script type="text/javascript">
$(function(){
	$(".cancel_order").click(function(){
		var url = $(this).attr("link");
		layer.confirm("{:L('SURE_CANCEL_ORDER')}", {
		  btn: ["{:L('DETERMINE')}","{:L('CANCEL')}"], //按钮
		  title:"{:L('PROMPT')}"
		}, function(){
			$.get(url,function(data){
				if(data.status==1){
				  layer.msg(data.info, {icon: 1});
				}else{
				  layer.msg(data.info, {icon: 2});
				}
				setTimeout("window.location.reload();",2000);
			});
		}); 
	});	
	
	$(".delete_order").click(function(){
		var url = $(this).attr("link");
		layer.confirm("{:L('SURE_DELETE_ORDER')}", {
		  btn: ["{:L('DETERMINE')}","{:L('CANCEL')}"], //按钮
		  title:"{:L('PROMPT')}"
		}, function(){
			$.get(url,function(data){
				if(data.status==1){
				  layer.msg(data.info, {icon: 1});
				}else{
				  layer.msg(data.info, {icon: 2});
				}
				setTimeout("window.location.reload();",2000);
			});
		}); 
	});	
})
</script>
<include file="Common:footer" />