<include file="Common:header" />
<div class="container mt20"> 
  <div class="breadcrumb" style="background:none">
    <div class="wz"> {:L('CATPOS')}：<a href="__ROOT__/">{:L('HOME')}</a> &gt; <a href="{:U('User/index')}">{:L('MEMBER_CENTER')}</a> &gt;  {:L('MODIFY_PASSWORD')} </div>
  </div>
<include file="User:left" />
  <div class="col-lg-9" style="padding-right:0; padding-left:0;">
    <div class="user_content">
      <div class="breadcrumbs">{:L('MODIFY_PASSWORD')} </div>
      <div class="user_info">
        <div class="col-1 ">
          <form method="post" id="myform" action="{:U('User/password')}">
            <table cellpadding="0" cellspacing="0" class="table_form" width="100%">
              <tbody>
              
                <tr>
                  <td width="109">{:L('OLD_PASSWORD')}</td>
                  <td><input type="password" class="form-control w30" name="oldpassword"></td>
                </tr>
                <tr>
                  <td>{:L('NEW_LOGIN_PASSWORD')}</td>
                  <td><input type="password" class="form-control w30" name="password" id="password"></td>
                </tr>
                <tr>
                  <td>{:L('CONFIRM_PASSWORD')}</td>
                  <td><input type="password" class="form-control w30" name="repassword" ></td>
                </tr>
                <tr>
                  <td>{:L('VERIFICATION_CODE')}</td>
                  <td><input type="text" class="form-control w30" size="6" name="verify">
                    <img src="{:U('Verify/index',array('w'=>120,'len'=>4,'h'=>30,'size'=>14))}" border="0" title="{:stripslashes(L('CLICK_HERE_REFRESH'))}"  onclick="this.src=this.src+'?rand='+Math.random();" id="verifyImage"  style="cursor:pointer" align="absmiddle"></td>
                </tr>
              </tbody>
            </table>
            <div class="btn">
              <input type="submit" name="dosubmit" value="{:L('SUBMIT')}" class="btn btn-primary btn6">
              <input type="reset" value="{:L('RESET')}" class="btn btn6">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<include file="Common:footer" />