<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>语言类管理-资讯管理-后台管理首页</title>
<include file="Common:jscss" />
</head>
<body>
<div class="container-fluid"> 
 <include file="Common:position" />
<div id="Right">
  <div class="page margin_bottom">
    &nbsp; &nbsp;
    <button class="btn btn-success" onclick="javascript:window.location.href='{:U('add')}'" ><i class="glyphicon glyphicon-plus"></i>添加语言</button>&nbsp;&nbsp;
    <button class="btn btn-success"  onclick="javascript:window.location.href='{:U('addparam')}'"><i class="glyphicon glyphicon-plus"></i>添加参数</button>
  </div>
  <table class="table table-bordered table-hover definewidth m10">
    <thead>
      <tr align="center">
        <th>ID</th>
        <th>语言名称</th>
        <th width="13%">语言标识</th>
        <th width="14%">语言图标</th>
         <th width="12%">状态 </th>
        <th width="15%">排序</th>
        <th width="20%" colspan="2"> 操作</th>
      </tr>
    </thead>
    <tbody>
      <volist name="list" id="tree">
        <tr pid="{$tree.pid}" id="{$tree.id}">
          <td width="10%" align="center">{$tree.id}
            <input type="hidden" name="id" value="{$tree.id}"/></td>
          <td width="16%" class="tree" style="cursor: pointer;">{$tree.name}</td>
          <td>{$tree.mark}</td>
          <td><notempty name="tree['flag']"><img src="{$tree.flag}" width="50" /></notempty></td>
          <td><a href="javascript:void(0)" class="opStatus" val="{$tree.status}" field="status">
            <if condition="$tree['status'] eq 1">隐藏
              <else />
              显示</if>
            </a></td>
          <td fd="listorder" edit="0">{$tree.listorder}</td>
          <td><a href="{:U('edit',array('id'=>$tree['id']))}">修改</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:void(0);" class="delCate"  link="{:U('delCategory',array('id'=>$tree['id']))}">删除</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{:U('setlang',array('id'=>$tree['id']))}" >设置语言</a></td>
        </tr>
      </volist>
    </tbody>
  </table>
</div>
</div>
<script type="text/javascript">
$(function(){
	$(".delCate").click(function(){
		var $this=$(this);
		var url=$this.attr("link");
		layer.confirm('确定要删除嘛?', {
		  btn: ['确定','取消'] //按钮
		}, function(){
		  	$.get(url,function(data){
				if(data.status==1){
				  layer.msg(data.info, {icon: 1});
				}else{
				  layer.msg(data.info, {icon: 2});
				}
				setTimeout("window.location.reload();",2000);
		  	});
		});	
	});
	 //快捷启用禁用操作
	$(".opStatus").click(function(){
		var obj=$(this);
		var id=$(this).parents("tr").attr("id");
		var status=$(this).attr("val");
		var field=$(this).attr("field");
		$.post("{:U('updateStatus')}", { 'id':id, 'status':status == 1 ? 0 : 1 ,'field':field }, function(json){
			if(json.status==1){
				 layer.msg(json.info, {icon: 1});
				$(obj).attr("val",status==1?0:1).html(status==1?"显示":"隐藏");
			}else{
				layer.msg(json.info, {icon: 2});
			}
		});
	});
	   //快捷改变操作排序dblclick
	$("tbody>tr>td[fd]").click(function(){
		var inval = $(this).html();
		var infd = $(this).attr("fd");
		var inid =  $(this).parents("tr").attr("id");
		if($(this).attr('edit')==0){
			$(this).attr('edit','1').html("<input class='input' style='width:50px;' size='5' id='edit_"+infd+"_"+inid+"' value='"+inval+"' />").find("input").select();
		}
		$("#edit_"+infd+"_"+inid).focus().bind("blur",function(){
			var editval = $(this).val();
			$(this).parents("td").html(editval).attr('edit','0');
			if(inval!=editval){
				$.post("{:U('updateStatus')}",{id:inid,'field':infd,'status':editval});
			}
		})
	});

  
});
</script>
</body>
</html>
