<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<include file="Common:jscss" />
<style type="text/css">
body {
	padding-bottom: 40px;
}
.sidebar-nav {
	padding: 9px 0;
}
 @media (max-width: 980px) {
/* Enable use of floated navbar text */
            .navbar-text.pull-right {
	float: none;
	padding-left: 5px;
	padding-right: 5px;
}
}
</style>
</head>
<body>
<div class="container-fluid"> 
 <include file="Common:position" />
<form action="{:U('setlang')}" method="post" class="definewidth m10" style="margin-left:0px;" enctype="multipart/form-data">
<input name="id" id="id" type="hidden" value="{$lang_id}">
  <table class="table table-bordered table-hover definewidth m10">
    <tr>
      <td width="10%" class="tableleft">参数名</td>
      <td>参数值</td>
      <td>参数说明</td>
    </tr>
  <volist name="set_lang_list" id="vo" >
    <tr>
      <td width="10%" class="tableleft">{$vo.field}</td>
      <td><input type="text" name="{$vo.field}_field" id="{$vo.field}_field" value="{$vo.value|stripcslashes}"  class="form-control w30"/></td>
      <td><input type="text" name="{$vo.field}_alisa" id="{$vo.field}_alisa" value="{$vo.alisa}"  class="form-control w30"/></td>
    </tr>
	</volist>     
    <tr>
      <td class="tableleft"></td>
      <td><button type="submit" class="btn btn-primary btn6"> 保存</button>
        &nbsp;&nbsp;
        <button type="button" class="btn btn6" name="backid"  onClick="history.go(-1)">返回</button></td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</div>

</body>
</html>
