<include file="Common:header" />
<div class="ny-head mg-auto overflow area border-bom">
    <div class="center_tit">
      <h4>{:L('VERIFICATION_COMPLETED')}</h4>
    </div>
    <include file="Common:back" /> </div>
<div class="page">
  <div class="page_login">
    <div class="send_email_div" style="text-align:center">
      <div class="suceed_icon fleft"> </div>
      <div class=" tip"> {:L('CONGRATULATIONS_PASSWORD_SUCCESSFULLY')} &nbsp;&nbsp;<a href="{:U('Login/index')}">{:L('SIGN_IN')}</a> </div>
    </div>
  </div>
</div>
<include file="Common:footer" /> 