<nav id="footer">
  <div class="container">
    <div class="pull-left fnav">
      <p>Copyright &copy; 2015 Momentum. More Templates <a href="http://www.eqiseo.com/" target="_blank" title="168cms">168cms</a> - Collect from <a href="http://www.eqiseo.com/" title="168cms" target="_blank">168cms</a></p>
    </div>
    <div class="pull-right fnav">
      <ul class="footer-social">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script type="text/javascript" src="../Public/js/jquery.1.11.1.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script type="text/javascript" src="../Public/js/bootstrap.js"></script> 
<script type="text/javascript" src="../Public/js/SmoothScroll.js"></script> 
<script type="text/javascript" src="../Public/js/jquery.prettyPhoto.js"></script> 
<script type="text/javascript" src="../Public/js/jquery.isotope.js"></script> 
<script type="text/javascript" src="../Public/js/jquery.counterup.js"></script> 
<script type="text/javascript" src="../Public/js/waypoints.js"></script>
<script type="text/javascript" src="../Public/js/jqBootstrapValidation.js"></script> 
<script type="text/javascript" src="../Public/js/contact_me.js"></script>
<script src="../Public/js/owl.carousel.js"></script>

<!-- Javascripts
    ================================================== --> 
<script type="text/javascript" src="../Public/js/main.js"></script>
</body>
</html>