<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>数据还原-数据管理</title>
<include file="Common:jscss" />
</head>
<body>
<div class="container-fluid"> 
<include file="Common:position" />
<div id="Right">
  <div class=" page-header definewidth m10" style="width:100%; margin:10px 0px; display:inline-block"> <span style=" float:left; margin-bottom:10px;">
    <button class="btn btn-success"   onclick="javascript:window.location.href='{:U('restore')}'">数据库导入</button>
    &nbsp;&nbsp;
    <button class="btn btn-success" onclick="javascript:window.location.href='{:U('zipList')}'">数据库压缩包</button>
    &nbsp;&nbsp;
    <button class="btn btn-success" onclick="javascript:window.location.href='{:U('repair')}'">数据库优化修复</button>
    &nbsp;&nbsp; 
    <button class="btn delSqlFiles  btn-danger"><i class="glyphicon glyphicon-trash"></i>删除所选</button>
      &nbsp;&nbsp; 
      <button class="btn zip btn-info"><i class="glyphicon glyphicon-file"></i>压缩SQL为ZIP</button>
    </span> <span style="float:right">系统数据库备份目录下共有{$files}个SQL备份文件，共计{$total}</span> </div>
  <form class="definewidth m10" method="post" id="form1" >
    <table class="table table-bordered table-hover " style="width:100%">
      <thead>
        <tr>
          <th style="text-align:center">
              <input name="" class="chooseAll" type="checkbox"/>
             </th>
          <th width="186">SQL文件名</th>
          <th width="189">备份时间</th>
          <th width="210">类型</th>
          <th width="169">文件大小</th>
          <th width="246">文件备注</th>
          <th width="96">导入</th>
        </tr>
      </thead>
      <tbody>
        <volist name="list" id="sql">
          <tr align="center">
            <td><input pre="{$sql.pre}" type="checkbox" name="sqlFiles[]" value="{$sql.name}"/></td>
            <td align="left"><a href="{:U('SysData/downFile',array('file'=>$sql['name'],'type'=>'sql'))}" target="_blank">{$sql.name}</a></td>
            <td>{$sql.time}</td>
            <td>{$sql.type}</td>
            <td>{$sql.size}</td>
            <td class="description" title="{$sql.description}">查看备注信息</td>
            <td><button class="btn restore btn-success" sqlPre="{$sql.pre}" link="{:U('restoreData',array('sqlPre'=>$sql['pre']))}">导入</button></td>
          </tr>
        </volist>
      </tbody>
      <tfoot align="center">
        <tr>
          <td align="center"> 
              <input name="" class="chooseAll" type="checkbox"/>
               </td>
          <td>SQL文件名</td>
          <td>备份时间</td>
          <td>类型</td>
          <td>总计：{$total}</td>
          <td>文件备注</td>
          <td>导入</td>
        </tr>
      </tfoot>
    </table>
    <input type="hidden" name="to" id="to" value="" />
  </form>
</div>
</div>

<script type="text/javascript">
$(function(){
	clickCheckbox();//全新反选
	//同一备份版本任意一个卷选中则选中该卷所有文件
	$("tbody input[type='checkbox']").click(function(){$("tbody input[type='checkbox'][pre='"+$(this).attr("pre")+"']").prop("checked",$(this).prop('checked'));});
	//提交数据恢复操作
	$(".restore").click(function(){
		if(!confirm("导入数据后数据库的所有数据将被覆盖,确定要导入数据嘛？")){
			return false;	
		}
		if($(this).attr("disabledSubmit")){
			layer.msg("已提交，系统在处理中...");
			return false;
		}
		var sqlPre=$(this).attr("sqlPre");
		$(".restore[sqlPre='"+sqlPre+"']").attr("disabledSubmit",true).html("导入中...");
		$(".btn").attr("disabledSubmit",true);
		var url=$(this).attr("link");
		$.get(url, function(json){  
			if(json.status==1){
				if(json.url){
					$("#opStatus").show().html(json.info);
					window.location.href=json.url;

				}else{
				   alert(json.info);
					$(".restore[sqlPre='"+sqlPre+"']").attr("disabledSubmit",true).html("导入成功");
				}

			}else{
				alert(json.info);
			}
		});
		layer.msg("系统处理中，如果导入文件较大可能需要较长时间，请稍候....");
		return false;
	});
	//删除备份文件
	$(".delSqlFiles").click(function(){
		if($(this).attr("disabledSubmit")){
			layer.msg("已提交，系统在处理中...");
			return false;
		}
		if($("tbody input[type='checkbox']:checked").size()==0){
			layer.msg("请先选择你要删除的数据库表吧");
			return false;
		}
		layer.confirm('你确定要删除备份文件吗？',function(){
			$(".btn").attr("disabledSubmit",true);
			$(this).html("提交处理中...");
			$("#form1").attr("action","{:U('delSqlFiles')}");
			$("#form1").submit();
		})
		return false;
	});

	//压缩备份文件
	$(".zip").click(function(){
		if($(this).attr("disabledSubmit")){
			layer.msg("已提交，系统在处理中...");
			return false;
		}
		if($("tbody input[type='checkbox']:checked").size()==0){
			layer.msg("请先选择你要压缩的数据库表吧");
			return false;
		}
		$("#form1").attr("action","{:U('zipSql')}");
		$("#form1").submit();
		return false;
	});
});
</script>
</body>
</html>
