<include file="Common:header" />
<include file="Common:layer" />
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<!--内页 BAN-->
<if condition="in_array('editor',$field_type)">
 <include file="Common:ueditor" />
</if>
<if condition="in_array('datetime',$field_type)">
<script type="text/javascript" src="__PUBLIC__/layer/laydate.js"></script>
</if>
<script type="text/javascript" src="__PUBLIC__/validate/jquery.validate.js"></script>

<div class="ab-ban"> <img src="../Public/img/ab-ban.jpg"/> </div>
<!--内页 BAN 结束-->

<div class="container mt20">
  <div class="row">
    <div class="col-lg3 col-md-3 hidden-sm hidden-xs l-list">
      <h2 class="l-title">{$categorys[$topid]['title']}</h2>
      <ul class="l-sub">
        <Vo:subcat catid="$topid" > <li 
          <eq name="catid" value="$subcat.id"> class="active" </eq>
          ><a href="{$subcat.url}">{$subcat.title}</a>
          </li>
        </Vo:subcat>
      </ul>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12 r-list">
      <div class="mpx-box">
        <h2 class="fl">{$categorys[$catid]['title']}</h2>
        <div class="wz  hidden-xs"> {:L('CATPOS')}：<a href="__ROOT__/">{:L('HOME')}</a> >
          <Vo:crumbs catid="catid"><a href="{$crumbs.url}">{$crumbs.title}</a>
            <eq name="crumbs['end']" value="0"> > </eq>
          </Vo:crumbs>
        </div>
      </div>
      <div class="ab-txt">
        <div id="biao_bottom">
                   <form action="{:U('Feedback/saves')}" method="post" enctype="multipart/form-data" target="_self" id="conentForm">
                   <input name="catid" type="hidden" value="{$catid}" />
                   <table width="100%"  border="0" cellpadding="0" cellspacing="0" class="table">
                      <tbody> 
                      <volist name="field_list" id="vo">
                      <tr>
                        <td width="11%" align="right" valign="middle">{$vo.name}：</td>
                        <td width="89%" align="left" valign="middle">
                        {$vo|getform=$form,###}<notempty name="vo['tips']"><span class="help-block">{$vo.tips}</span></notempty>
                        <if condition="$vo['required']"><font color="red">*</font></if>
                       </td>
                      </tr>
                    
                      </volist>
                        <tr>
                        <td >&nbsp;</td>
                        <td ><input type="submit" name="button" id="button" class="btn btn-primary" value="提交"></td>
                      </tr>
                   </tbody></table>
                   </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!--网页底部--> 
<include file="Common:footer" /> 
<!--网页底部 结束--> 