<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<include file="Common:jscss" />
<style type="text/css">
body {
	padding-bottom: 40px;
}
.sidebar-nav {
	padding: 9px 0;
}
 @media (max-width: 980px) {
/* Enable use of floated navbar text */
            .navbar-text.pull-right {
	float: none;
	padding-left: 5px;
	padding-right: 5px;
}
}
#tips_forumlis,.tip{ margin:10px 20px;}
#tips_forumlis li{ width:40%; float:left; list-style:none; line-height:25px;}
</style>
</head>
<body>
<div class="container-fluid"> 
<include file="Common:position" />
<form class="form-inline  m15 margin_bottom"  method="post">
 
  <button type="button" class="btn btn-success" id="addnew"><i class="glyphicon glyphicon-plus"></i>新增菜单</button>
</form>
<table class="table table-bordered table-hover definewidth m10" >
  <thead>
    <tr>
      <th>id</th>
      <th width="400">菜单标题</th>
      <th>模型名称</th>
      <th>位置</th>
      <th>排序</th>
      <th>状态</th>
      <th>访问</th>
      <th>管理操作</th>
    </tr>
  </thead>
   <volist name="list" id="vo" key="k">
   <tr align="center" id="{$vo.id}" pid="{$vo.pid}">
    <td>{$vo.id}</td>
    <td align="left" class="tree" style="cursor: pointer;">{$vo.fullname}</td>
    <td><if condition="$vo['typeid'] eq 0">外部链接<else />{$vo.module_name.title}</if></td>
    <td>{$vo.position|showPosition}</td>
    <td fd="sort" edit="0">{$vo.sort}</td>
    <td><a href="javascript:void(0)" class="opStatus" val="{$vo.status}"><if condition="$vo['status'] eq 1">显示<else /> <span  style="color:red">隐藏</span></if></a></td>
    <td><a href="{$vo.url}" target="_blank">访问</a></td>
    <td>
      <a href="{:U('add',array('fid'=>$vo['id']))}">添加子栏目</a>&nbsp;|&nbsp;
      <a href="{:U('edit',array('id'=>$vo['id']))}">编辑</a>&nbsp;|&nbsp;
      <a href="javascript:void(0);" val="{:U('del',array('id'=>$vo['id']))}" class="del">删除</a>
    </td>
  </tr>
    </volist>
</table>
</div>
<script type="text/javascript">
$(function () {
	$('#addnew').click(function(){
			window.location.href="{:U('add')}";
	 });
	 
	 $(".del").click(function(){
			var delLink=$(this).attr("val");
			var $this=$(this);
			layer.confirm('确定要删除菜单?', {
			  btn: ['确定','取消'] //按钮
			}, function(){
				$.get(delLink,function(data){
					if(data.status==1){
					  layer.msg(data.info, {icon: 1});
					}else{
					  layer.msg(data.info, {icon: 2});
					}
					setTimeout("window.location.reload();",2000);
				});
			});
	});
	
	//快捷启用禁用操作
	$(".opStatus").click(function(){
		var obj=$(this);
		var id=$(this).parents("tr").attr("id");
		var status=$(this).attr("val");
		$.post("{:U('updateStatus')}", { "id":id, "value":status==1?0:1,'field':"status"}, function(json){
			if(json.status==1){
				layer.alert(json.info);
				$(obj).attr("val",status==1?0:1).html(status==0 ?"显示":"<span  style=\"color:red\">隐藏</span>");
			}else{
				layer.alert(json.info);
			}
		});
	});

	
	//快捷改变操作排序dblclick
	$("tbody>tr>td[fd]").click(function(){  
			var inval = $(this).html();
			var infd = $(this).attr("fd");
			var inid =  $(this).parents("tr").attr("id");
			if($(this).attr('edit')==0){
			 $(this).attr('edit','1').html("<input class='input' style='width:30px;' size='5' id='edit_"+infd+"_"+inid+"' value='"+inval+"' />").find("input").select();
			}
			var moduleid="21";
			$("#edit_"+infd+"_"+inid).focus().bind("blur",function(){
				var editval = $(this).val();
				$(this).parents("td").html(editval).attr('edit','0');
				if(inval!=editval){ 
					$.post("{:U('updateStatus')}",{id:inid,'field':infd,"value":editval});
				}
			})
		});

		

}); 
</script>
</body>
</html>