<include file="Common:header" />
<div class="container mt20">
  <div class="myshopping m_10">
    <ul class="order_step">
      <li><span class="first">1、{:L('VIEW_SHOPPING_CART')}</span></li>
      <li  class="current"><span>2、{:L('FILL_ORDER_INFORMATION')}</span></li>
      <li class="last"><span>3、{:L('SUCCESSFUL_SUBMISSION_ORDERS')}</span></li>
    </ul>
  </div>
  <div class="container mt20">
    <div class="checkout-tit"> <span class="tit-txt">{:L('FILL_ORDER_INFORMATION')}</span> </div>
    <div class="checkout-steps">
      <div class="clearfix">
        <div class="clearfix">
          <div class="title fleft"><strong>{:L("CONSIGNEE")}</strong></div>
          <a href="javascript:void(0)" class="fright NewConsignee addConsignee">{:L("ADD_RECEIPT_ADDRESS")}</a> </div>
        <notempty name="address_list">
          <ul id="consignee_list">
            <volist name="address_list" id="vo"> <li 
              <eq name="vo['is_default']" value="1"> class="select clearfix"
                <else />
                class="clearfix" </eq>
              >
              <div class="first"><span></span><b>{:L("SEND_TO")}</b></div>
              <div class="sec">
                <label>
                <input type="radio" name="address_id" value="{$vo.id}" id="consignee_{$vo.id}" 
                <eq name="vo['is_default']" value="1">checked="checked" </eq>
                >
                <div class="address_info">({$vo.consignee} {:L("THE_RECEIVER")}) &nbsp; &nbsp; {$vo.location}{$vo.address}   &nbsp;&nbsp;
                  <notempty name="vo['mobile']">{$vo.mobile|mobile_replace}
                    <else />
                    {$vo.telphone}</notempty>
                </div>
                </label>
                <eq name="vo['is_default']" value="1"> <span  class="default_address" >({:L("DEFAULT_ADDRESS")})</span></eq>
              </div>
              <div class="third"> <a href="javascript:void(0)" class="set_address" rid="{$vo.id}" >{:L("SET_AS_DEFAULT_ADDRESS")}</a> <a href="javascript:void(0)" class="edit_address" rid="{$vo.id}">{:L('EDIT')}</a> <a href="javascript:void(0)" class="del_address" rid="{$vo.id}">{:L('DELETE')}</a> </div>
              </li>
              <?php if($vo['is_default']==1) { $default_addres = $vo; } ?>
            </volist>
          </ul>
          <else />
          <ul id="consignee_list" style="text-align:center;">
            <li style="  border:none">{:L("NO_DELIVERY_ADDRESS")},<a href="javascript:void(0)" class="NewConsignee addConsignee">{:L("ADD_RECEIPT_ADDRESS")}</a></li>
          </ul>
        </notempty>
      </div>
      <div class="hr"></div>
      <div class="affirm_wrap  hand_details clearfix">
        <div class="title">{:L("PAYMENT_METHOD")}</div>
        <div class="list-cont">
          <ul id="payment-list">
            <volist name="pay_list" id="vo" key="k">
              <li style="cursor: pointer;">
                <if condition="$k eq 1">
                  <input type="hidden" id="pay_type" value="{$vo.pay_code}">
                  <div class="payment-item  item-selected online-payment" payname="{$vo.pay_name}" payid="{$vo.pay_code}">{$vo.pay_name}</div>
                  <else />
                  <div class="payment-item  online-payment" payname="{$vo.pay_name}" payid="{$vo.pay_code}">{$vo.pay_name}</div>
                </if>
              </li>
            </volist>
          </ul>
        </div>
      </div>
      <div class="hr"></div>
      <div class="affirm_wrap  hand_details clearfix" style="padding-bottom:5px;">
        <div class="title">{:L("DELIVERY_LIST")} <a href="{:U('Cart/index')}" class="fright NewConsignee" style="font-weight:100; font-size:12px">{:L("RETURN_TO_SHOPPING_CART")}</a> </div>
        <div class="cart-thead">
          <table class="table table-bordered table-hover" style=" font-size:12px; width:100%">
            <tr>
              <th width="46%">{:L("ALL_GOODS")}</th>
              <th width="13%">{:L("LATEST_PRICE")}({:L("DOLLAR")})</th>
              <th width="14%">{:L("COMMODITY_QUANTITY")}</th>
              <th width="8%">{:L("TOTAL_COMMODITY")}({:L("DOLLAR")})</th>
            </tr>
            <volist name="cart_list" id="vo">
              <tr>
                <td><div class="goods-item">
                    <div class="p-img"> <a href="{$vo.url}" target="_blank"><img alt="{$vo.product_info.title}" src="{$vo.product_info.thumb}" width="80" height="80"></a> </div>
                    <div class="item-msg" style="width:80%; float:left; margin-left:15px;">
                      <div class="p-name"> <a  href="{$vo.url}" target="_blank">{$vo.product_info.title}</a> </div>
                        <notempty name="vo['attr_list']">
                          <div class="p-extra"> 
                            <volist name="vo['attr_list']" id="attr">
                            <span class="txt" title="{$attr.value}">{$attr.key}：{$attr.value}</span> 
                            </volist>
                          </div>
                          </notempty>
                    </div>
                  </div></td>
                <td valign="middle">
                <if condition="$vo['promotion_price'] gt 0">
                <strong>￥{$vo.promotion_price|default=0}({:L("PROMOTION_PRICE")})</strong>
                <div style="color:#FF0000"><s>￥{$vo.goods_price|default=0}</s></div>
            <else />
           	 <strong>￥{$vo.goods_price|default=0}</strong>
            	<div style="color:#FF0000"><s>￥{$vo.market_price|default=0}</s></div>
            </if>
                  
                  </td>
                <td align="center"><div class="quantity-form">{$vo.goods_number|default=1} </div></td>
                <td><strong>{$vo.total_price}</strong></td>
              </tr>
            </volist>
          </table>
        </div>
      </div>
      <div class="affirm_wrap hand_details clearfix" style="padding-bottom:5px;">
        <div class="title">{:L("ADD_ORDER_NOTES")}</div>
        <div class="clearfix">
          <div class="fleft add_address">
            <div class="clearfix">
              <textarea class="selt  fleft" name="ar_textarea" id="ar_textarea" placeholder="{:L('ORDER_NOTE_PHACE')}"></textarea>
            </div>
            <div class="help-block">{:L("ORDER_NOTE_TIP")}</div>
          </div>
        </div>
      </div>
      <div class="submit_order_"> {:L("TOTAL_AMOUNT_PAYABLE")}：<span style="padding-left:50px;">¥{$total_price|default=0}</span>
        <input name="total_price" id="total_price" type="hidden" value="399">
        <div  class="help-block total_address" style="font-size:12px; margin-top:10px;">
          <notempty name="default_addres">{:L("SEND_TO")}:{$default_addres.location} {$default_addres.address} {:L("CONSIGNEE")}：{$default_addres.consignee}
            <notempty name="default_addres['mobile']">{$default_addres.mobile|mobile_replace}
              <else />
              {$default_addres.telphone}</notempty>
          </notempty>
        </div>
        <input type="button" class="smit" value="{:L("SUBMIT_ORDERS")}" id="submit_order">
      </div>
    </div>
  </div>
</div>
<div id="popMsgContent" style="font-size:12px; margin:10px 15px; display:none">
    <div id="C2bBanksBox" class="payment_content_bgwhite" style="display: block; text-align:center;">
             <div class="showwx">
	<div><img src="" width="300" height="300" class="qrcode" /></div>
	<div><img src="../Public/img/saomao.png" /></div>
</div>
          </div>
</div>
<include file="Common:layer" /> 
<script type="text/javascript">
$(function(){
	$(".addConsignee").click(function(){
		  var url="{:U('Address/add')}";
		  url = url + "?iframe=" + window.name;
		  layer.open({
				title:"{:L('ADD_RECEIPT_ADDRESS')}",
				type:2,
				area: ['55%','60%'],
				maxmin:true,
				content:url
		  });
	});	
	$(".edit_address").click(function(){
		var $this = $(this),
        rid = $(this).attr("rid");
		var url="/Address/edit/id/"+rid;
		  url = url + "?iframe=" + window.name;
		  layer.open({
				title:"{:L('ADD_RECEIPT_ADDRESS')}",
				type:2,
				area: ['55%','60%'],
				maxmin:true,
				content:url
		  });
	});
	/*删除该收货地址*/
	$(".del_address").click(function(){
		var $this = $(this),
        rid = $(this).attr("rid");
		layer.confirm("{:L('DELETE_RECEIVING_ADDRESS')}", {
			   btn: ["{:L('DETERMINE')}","{:L('CANCEL')}"], //按钮
		  	   title:"{:L('PROMPT')}"
			}, function(){
				$.post("{:U('Address/del')}",{"id":rid},function(data){
					if(data.status==1){
						 $this.parents("li").fadeOut(500);
						 setTimeout(function(){   
                            $this.parents("li").remove();
                        },500);
					  	 layer.msg(data.info, {icon: 1});
					}else{
					  	layer.msg(data.info, {icon: 2});
					}
					setTimeout("window.location.reload();",2000);
				});
			});

	});
	/*删除该收货地址*/
	$("#consignee_list label").click(function(){
		 $(this).parents("li").addClass("select").siblings().removeClass("select");
		 var address=$(this).find(".address_info").html(); 
		 $(".total_address").html("{:L('SEND_TO')}："+address);
	});
	/*设置默认地址*/
	$(".set_address").click(function(){
		var $this = $(this),
        rid = $(this).attr("rid");
		$.post("{:U('Address/setAddress')}",{"id":rid},function(data){
			if(data.status==0){
				layer.msg(data.info, {icon: 2});	
			}else{
				 layer.msg(data.info, {icon: 1});	
			}
			setTimeout("window.location.reload();",2000);
	
		});
	});
	//选择支付方式
	$("#payment-list li ").click(function(){
		var pay_obj=$(this).find(".payment-item");
		var payid=pay_obj.attr("payid");
		$("#pay_type").val(payid);
		pay_obj.addClass("item-selected").parent("li").siblings().find(".payment-item").removeClass("item-selected");		
	});
	$("#submit_order").click(function(){
		 var consignee_id=$("input[name='address_id']:checked").val();
		 if(consignee_id==null||typeof(consignee_id)=='undefined'){
			 layer.alert("{:L('PLEASE_SELECT_CONSIGNEE')}");
			 return false;
		 }
		 var pay_type=$("#pay_type").val();
		 if(pay_type==null||typeof(pay_type)=='undefined'){
			 layer.alert("{:L('PLEASE_SELECT_PAYMENT_METHOD')}");
			 return false;
		 }
		 var loading=layer.msg("{:L('ORDER_SUBMISSION')}", {icon: 16,time:10000});
		 var ar_textarea=$("#ar_textarea").val(); //订单备注
		 var param={"consignee_id":consignee_id,"pay_type":pay_type,"order_mark":ar_textarea};
		 $.post("{:U('Pay/order')}",param,function(data){
			if(data.status==1){
				layer.msg(data.info, {icon: 1});
				window.location.href=data.url;
			}else{
				layer.msg(data.info, {icon: 2});	
			}
		 });
		 return false;
	});
})
</script> 
<!--网页底部--> 
<include file="Common:footer" /> 
<!--网页底部 结束--> 