<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>支付接口管理列表</title>
<base target="_self">
<include file="Common:jscss" />
<style type="text/css">
.fenye li {
	float:left;
	margin:10px 5px;
}
.listnav {
	margin:0px;
	padding:0px;
	height:150px;
	overflow:auto
}
.listnav li {
	width:50%;
	float:left;
}
</style>
</head>
<body>
<div class="container-fluid"> 
<include file="Common:position" />
<form action="{:U('index')}" method="post" name="form" class="form-inline definewidth m10">
  <input name="title" type="text" style="width:250px"  value="{$keyword}" placeholder="名称"  class="form-control w30">
  &nbsp;
  <button name="btn" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>查 询</button>
  &nbsp;
  <button type="button" class="btn btn-success" id="addnew" onClick="javascript:window.location.href='{:U('add')}'"><i class="glyphicon glyphicon-plus"></i>添加支付</button>
</form>
<form action="{:U('delAll')}" method="post" name="form2" id="playList" class="form-inline definewidth m10" style="margin-left:0px;">
  <input name="typename" type="hidden" value="main">
<table class="table table-bordered table-hover definewidth m10" style="font-size:12px; width:100%">
 
    <tr>
      <th width="11%">选择</th>
      <th width="39%">支付名称</th>
      <th width="12%">唯一类型名称</th>
      <th width="10%">排序</th>
      <th width="6%">状态</th>
 
      <th width="12%">添加时间</th>
      <th width="10%">操作</th>
    </tr>
    <volist name="list" id="vo" key="k">
      <tr>
        <td align="center"><input name="id[]"  class="id" type="checkbox"  value="{$vo.id}">
          {$vo.id}</td>
        <td align="left">{$vo.pay_name}</td>
        <td align="center">{$vo.pay_code}</td>
        <td align="center">{$vo.listorder|default=0}</td>
        <td align="center"><if condition="$vo['status'] eq 1">是<else />否</if></td>
 
        <td align="center">{$vo.ctime|Date='Y-m-d H:i:s',###}</td>
        <td align="center"> <a href="{:U('edit',array('id'=>$vo['id']))}"> 修改</a> | <a class="del" href="javascript:void(0)" link="{:U('del',array('id'=>$vo['id']))}"> 刪除 </a></td>
      </tr>
    </volist>
    <tr bgcolor="#FFFFFF">
      <td colspan="9" align="center"><ul class="pagination text-center" style="margin:10px 0px">{$page} </ul></td>
    </tr>
    
  </table>
</form>
</div>
<script type="text/javascript">
	$(function(){
		$(".del").click(function(){
			var delLink=$(this).attr("link");
			var $this=$(this);
			layer.confirm('确定要删除嘛?', {
			  btn: ['确定','取消'] //按钮
			}, function(){
				$.get(delLink,function(data){
					if(data.status==1){
					  layer.msg(data.info, {icon: 1});
					}else{
					  layer.msg(data.info, {icon: 2});
					}
					setTimeout("window.location.reload();",2000);
				});
			});
		});
	});
</script>
</body>
</html>