<style type="text/css">
.common_flink_content{ display:none; position:absolute; top:30px; left:0; border:1px #f5f5f5 solid; padding:10px; background:#fff; max-width:500px;}
.flink_box{ position:relative;}
.common_flink_content li {  float: left;  line-height: 25px;  margin: 0px 5px;  font-size: 12px;}
</style>

<div class="flink_box">
<div><a href="javascript:void(0)" id="common_flink" >公共库</a></div>
<div id="common_flink_content" class="common_flink_content">
  <ul>
  	<volist name="flink_list" id="vo">
    <li><a href="{$vo.siteurl}" target="_blank">{$vo.name}</a></li>
 </volist>
  </ul>
</div>
</div>
<script type="text/javascript">
$(function(){
	$("#common_flink").click(function(){
		//$("#common_flink_content").show();
		$("#common_flink_content").slideToggle("slow");
	});	
})
</script>