<footer id="footer">
    	<div class="container b-navbox clearfix">
    		<ul class="fl b-nav">
            	  <Vo:nav position="2">
    			<li>
    				<h2><a href="{$nav.url}">{$nav.title}</a></h2>
                    <notempty name="nav['arcchild_list']">
                    	<volist name="nav['arcchild_list']" id="_vo">
    					<a href="{$_vo.url}">{$_vo.title}</a>
                        </volist>
                    </notempty>
    			</li>
                 </Vo:nav>
    			 
    		</ul>
    		<div class="fr rmw">
    			<img src="../Public/img/rwm.png"/>
    			<p>{:L('WeChat')}</p>
    		</div>
    	</div>
    	
    	<div class="copy">
    		<div class="container">
    		<Vo:block adid="footer">{$block.content}</Vo:block>
    		</div>
    	</div>
    	
    </footer>
    <!--网页底部 结束--> 

<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>

<!--首页语言切换JS--> 
<script type="text/javascript">
	$(document).ready(function(){
	  $(".icon-language").click(function(){
	  $(".language-txt").toggle(200);
	  });
});
</script> 
<!--首页焦点图 JS--> 
<script type="text/javascript">
var swiper = new Swiper('#t-ban', {
	pagination: '#t-ban .swiper-pagination',
	paginationClickable: true,
	loop : true,
});
</script> 

<!--最新产品区域 JS--> 
<script type="text/javascript">
    var swiper = new Swiper('#sy-cplist', {
        pagination: '#sy-cplist .swiper-pagination',
        paginationClickable: true,
        slidesPerView: 4,
        spaceBetween: 50,
        breakpoints: {
            1000: {
                slidesPerView: 3,
                spaceBetween: 40
            },
            768: {
                slidesPerView: 2,
                spaceBetween: 30
            },
            640: {
                slidesPerView: 2,
                spaceBetween: 20
            },
            480: {
                slidesPerView: 1,
                spaceBetween: 10
            },
            320: {
                slidesPerView: 1,
                spaceBetween: 10
            }
        }
    });
    </script>
</body></html>