<if condition="$Think.config.KEFU_OPEN eq 1">
<style>
.keifu{ position:fixed; top:10%; right:0; max-width:131px;  _position:absolute; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.bottom,10)||0)-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
 z-index:990; font-family:"微软雅黑";}
.keifu_tab{max-width:160px;}
.icon_keifu{max-height:130px; float:left; background:#029bdb; background-position: 0 40px; position:relative; cursor:pointer; text-align:center; color:#fff; font-weight:100; font-size:16px;  padding: 10px;border-top-left-radius: 5px;  border-bottom-left-radius: 5px; line-height:25px;}

.keifu_box{ float:left; width:131px; display:none;}
.keifu_head{ width:131px; height:41px; background:url(../Public/img/keifu.png); background-position: 0 -103px; font-size:14px; line-height:0; position:relative;}
.keifu_head span{ text-align:center; color:#fff; font-size:14px; width:100%; display:inline-block; line-height:40px;}
.keifu_close:link,.keifu_close:visited{ display:block; width:11px; height:11px; background:url(../Public/img/keifu.png) -42px 0; position:absolute; top:14px; right:5px;}
.keifu_close:hover{ background-position:-60px 0;}
.keifu_con{ border-left:7px solid #029bdb; border-right:7px solid #029bdb; padding-top:15px; background:#fbfbfb;}
.keifu_con dd{ padding:2px 0px 5px 15px; width:100%; text-align:center; display:inline-block}
.keifu_con dt{ text-align:center; margin-bottom:5px; padding:0px;}
.keifu_con .weixin{ height:96px;}
.keifu_con .bt{ font-size:16px; height:30px; line-height:30px; text-align:left; padding:0 0 0 20px; color:#012646;}
.keifu_bot{ width:131px; height:15px; background:url(../Public/img/keifu.png); background-position:0 -149px; }
</style>

<div class="keifu">
  <div class="keifu_tab">
    <div class="icon_keifu">{:L('ONLINE_KEFY')}</div>
    
    <div class="keifu_box">
      <div class="keifu_head"><span>{:L('ONLINE_KEFY')}</span><a href="javascript:void(0)" class="keifu_close"></a></div>
      <Vo:kefu typeid="">
      <dl class="keifu_con">
        <if condition="$kefu['typeid'] eq 5">
        	  <dd>{$kefu.content}  </dd>
        <elseif condition="$kefu['typeid'] eq 6" />
        	 <dt>{$kefu.name}</dt>
        	  <dd><img src="{$kefu.logo}" width="80" />  </dd>
        <else />
        	<dt>{$kefu.name}</dt>
            <volist name=":kfInfo($kefu['pay_config'])" id="_vo">
            <dd>{:kfType($kefu['typeid'],$_vo['key'],$_vo['value'])}</dd>
            </volist>
        </if>
       	
      </dl>
      </Vo:kefu>
      <div class="keifu_bot"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function(){
	var KF = $(".keifu");
	var wkbox = $(".keifu_box");
	var kf_close = $(".keifu .keifu_close");
	var icon_keifu = $(".icon_keifu");
	var lang="{$lang}";
	icon_keifu.css("width",lang=="cn" ? 36 : 130);
	var kH = wkbox.height();
	var kW = wkbox.width();
	var wH = $(window).height();
	KF.css({height:kH});
	icon_keifu.css("top",parseInt((kH-100)/2));
	var KF_top = (wH-kH)/2;
	if(KF_top<0) KF_top=0;
	KF.css("top",KF_top);
	
	$(kf_close).click(function(){
		KF.animate({width:"0"},200,function(){
			wkbox.hide();
			icon_keifu.show();
			KF.animate({width:36},300);		
		});	
	});
	$(icon_keifu).click(function(){
			$(this).hide();
			wkbox.show();
			KF.animate({width:kW},300);
	});
});
</script>
</if>