<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<include file="Common:jscss" />
<style type="text/css">
body {
	padding-bottom: 40px;
}
.sidebar-nav {
	padding: 9px 0;
}
 @media (max-width: 980px) {
/* Enable use of floated navbar text */
            .navbar-text.pull-right {
	float: none;
	padding-left: 5px;
	padding-right: 5px;
}
}
</style>
</head>
<body>
<div class="container-fluid"> 
<include file="Common:position" />
<div class="page margin_bottom">
  <button type="button" class="btn btn-success text-left" id="addnew"><i class="glyphicon glyphicon-plus"></i>添加节点</button>
</div>
<table class="table table-bordered table-hover definewidth m10" >
  <thead>
    <tr>
      <th>序号</th>
      <th>节点结构 <b title="单击分类隐藏/显示该分类下在子类">[i]</b></th>
      <th>节点ID</th>
      <th>名称</th>
      <th>显示名</th>
      <th>排序名称</th>
      <th>类型</th>
      <th>状态</th>
      <th width="150">操作</th>
    </tr>
  </thead>
  <volist name="list" id="vo" key="k">
    <tr align="center" id="{$vo.id}" pid="{$vo.pid}">
      <td>{$k}</td>
      <td align="left" class="tree" style="cursor: pointer;">{$vo.fullname}</td>
      <td>{$vo.id}</td>
      <td>{$vo.name}</td>
      <td>{$vo.title}</td>
      <td edit="0" fd="sort">{$vo.sort}</td>
      <td>{$vo.level}</td>
      <td>{$vo.statusTxt}</td>
      <td>[ <a href="javascript:void(0);" class="opStatus" val="{$vo.status}">{$vo.chStatusTxt}</a> ] [ <a href="{:U('edit',array('id'=>$vo['id']))}" class="edit">编辑</a> ]</td>
    </tr>
  </volist>
</table>
</div>
<script type="text/javascript">
    $(function () {
		 $('#addnew').click(function(){
				window.location.href="{:U('add')}";
		 });
		  //快捷启用禁用操作
                $(".opStatus").click(function(){
                    var obj=$(this);
                    var id=$(this).parents("tr").attr("id");
                    var status=$(this).attr("val");
                    $.post("{:U('opNodeStatus')}", { id:id, status:status }, function(json){
                        if(json.status==1){
                            alert(json.info);
                            $(obj).attr("val",status==1?0:1).html(status==1?"启用":"禁用").parents("td").prev().html(status==1?"禁用":"启用");
                        }else{
                            alert(json.info);
                        }
                    });
                });

		 
		   //快捷改变操作排序dblclick
                $("tbody>tr>td[fd]").click(function(){
                    var inval = $(this).html();
                    var infd = $(this).attr("fd");
                    var inid =  $(this).parents("tr").attr("id");
                    if($(this).attr('edit')==0){
                        $(this).attr('edit','1').html("<input class='input' style='width:30px;' size='5' id='edit_"+infd+"_"+inid+"' value='"+inval+"' />").find("input").select();
                    }
                    $("#edit_"+infd+"_"+inid).focus().bind("blur",function(){
                        var editval = $(this).val();
                        $(this).parents("td").html(editval).attr('edit','0');
                        if(inval!=editval){
                            $.post("{:U('opSort')}",{id:inid,fd:infd,sort:editval});
                        }
                    })
                });
		  var chn=function(cid,op){
                    if(op=="show"){
                        $("tr[pid='"+cid+"']").each(function(){
                            $(this).removeAttr("status").show();
                            chn($(this).attr("id"),"show");
                        });
                    }else{
                        $("tr[pid='"+cid+"']").each(function(){
                            $(this).attr("status",1).hide();
                            chn($(this).attr("id"),"hide");
                        });
                    }
                }
		 
		    $(".tree").click(function(){
                    if($(this).attr("status")!=1){
                        chn($(this).parent().attr("id"),"hide");
                        $(this).attr("status",1);
                    }else{
                        chn($(this).parent().attr("id"),"show");
                        $(this).removeAttr("status");
                    }
                });
		 
	});
</script>
</body>
</html>
