<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加、编辑碎片-后台管理</title>
<include file="Common:jscss" />
<include file="Common:ueditor" />
<script type="text/javascript">
$(document).ready(function(){ var ue = UE.getEditor('content');})
</script>
</head>
<body>
<div class="container-fluid"> 
 <include file="Common:position" />
<div id="Right">
  
  <form  class="definewidth m10"  action="{:U($method)}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="info[id]" value="{$info.id}" />
    <table class="table table-bordered table-hover  m10">
      <tr>
        <th width="120">碎片位置名称：</th>
        <td><input id="name" type="text" class="form-control w30" style="width: 600px;" name="info[name]" value="{$info.name}"/>
         </td>
      </tr>
      <tr>
        <th width="100">碎片位置标识：</th>
        <td><input id="pos" type="text" class="form-control w30" style="width: 600px;" name="info[pos]" value="{$info.pos}"/>
         </td>
      </tr>        
     <tr>
        <th width="100">跳转链接：</th>
        <td><input id="link" type="text" class="form-control w30" style="width: 600px;" name="info[link]" value="{$info.link}"/>
         </td>
      </tr>   

      <tr>
        <th>内容：</th>
        <td><textarea id="content" class="input" style="height: 600px; width: 90%;" name="info[content]">{$info.content}</textarea></td>
      </tr>
       <tr>
        <th></th>
        <td>  <div class="m10" style="margin-bottom:20px;">
    <button class="btn btn-primary submit btn6">保存</button>&nbsp;&nbsp; 
    <button type="button" class="btn btn6" onclick="history.go(-1)" name="backid" id="backid">返回</button>
  </div></td>
      </tr>
    </table>
   
  </form>
 
</div>
</div>
<script type="text/javascript">
$(function(){ 
	$(".submit").click(function(){
		if($("#name").val()==""){
			layer.tips('碎片位置名称不能为空', '#name',{tips: [2, '#337ab7']});
			return false;
		}
		if($("#pos").val()==""){
			layer.tips('位置标识不能为空', '#pos',{tips: [2, '#337ab7']});
			return false;
		}
	
	});
});
</script>
</body>
</html>
