<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>修改幻灯片图片</title>
  <include file="Common:jscss" />
  <style type="text/css">
.iptxt {
	width:300px;
}
.iptxt1 {
	width:300px;
}
</style>
  </head>

  <body>
   <div class="container-fluid"> 
  <include file="Common:position" />
  <form action="{:U('editslide')}" method="post" enctype="multipart/form-data" name="form2" id="playList">
    <input name="typeid" type="hidden" value="{$list.typeid}" />
    <input name="id" type="hidden" value="{$list.id}" />
<table class="table table-bordered table-hover definewidth m10" style="font-size:12px">
      <tr  bgcolor="#FFFFFF">
        <td width="9%" height="30"> 广告位标题： </td>
        <td colspan="5" style="text-align:left;"><span class="tLeft">
          <input name="title" type="text" class="form-control w30" id="title" value="{$list.title}">
          </span></td>
      </tr>
      <tr  bgcolor="#FFFFFF" id="uploadurl">
        <td height="30">图片上传：</td>
        <td colspan="5" style="text-align:left;"><label for="imgurl"></label>
          <input name="picurl_txt" type="text" class="form-control w30" value="{$list.picurl}" style="float:left">
          <input type="file" name="picurl" id="picurl">
          <div class="page m15"><img src="{$list.picurl}" width="100" /></div>
          </td>
      </tr>
      <tr  bgcolor="#FFFFFF">
        <td height="30">&nbsp;</td>
        <td colspan="2" style="text-align:left;">宽度:</td>
        <td width="15%" style="text-align:left;"><input name="imgwidth" type="text" class="form-control" id="imgwidth" style=" width:100px;" value="{$list.width}" /></td>
        <td width="10%" style="text-align:left;"> 高度：</td>
        <td width="53%" style="text-align:left;"><input name="imgheight" type="text" class="form-control" id="imgheight" style=" width:100px;" value="{$list.height}" /></td>
      </tr>
      <tr  bgcolor="#FFFFFF" id="jumpurl" >
        <td height="30">跳转的url</td>
        <td colspan="5" style="text-align:left;"><span class="tLeft">
          <input name="linkurl" type="text" class="form-control w30" id="linkurl" value="{$list.linkurl}">
          </span></td>
      </tr>
        <tr bgcolor="#FFFFFF">
      <td  class="tLeft">标题：</td>
      <td colspan="5"  class="tLeft"><label for="product_title"></label>
      <input type="text" name="product_title" id="product_title" class="form-control w30" value="{$list.product_title}" /> <div class="help-block">(选填)</div></td>
    </tr>
    <tr bgcolor="#FFFFFF">
      <td  class="tLeft">描述：</td>
      <td colspan="5"  class="tLeft"><label for="product_description"></label>
      <textarea name="product_description" id="product_description" style="width:460px; height:100px; float:left" class="form-control">{$list.product_description}</textarea> 
      <div class="help-block">(选填)</div></td>
    </tr>
      <tr bgcolor="#FFFFFF">
        <td  class="tLeft">排序</td>
        <td colspan="5"  class="tLeft"><label for="sortslide"></label>
          <input name="sortslide" type="text" id="sortslide" class="form-control w30"  value="{$list.sortslide}" />
         <div class="help-block">从大到小  </div>  </td>
      </tr>
      <tr bgcolor="#FFFFFF">
        <td  class="tLeft">&nbsp;</td>
        <td colspan="5"  class="tLeft"><input type="submit" name="button" id="button"  class="btn btn-primary btn6" value="保存">
        <button type="button" class="btn btn6" onclick="history.go(-1)" name="backid" id="backid">返回</button>
        </td>
      </tr>
    </table>
  </form>
  </div>
</body>
</html>
