<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>广告管理列表</title>
<base target="_self">
<include file="Common:jscss" />
<style type="text/css">
.fenye li {
	float:left;
	margin:10px 5px;
}
.listnav {
	margin:0px;
	padding:0px;
	height:150px;
	overflow:auto
}
.listnav li {
	width:50%;
	float:left;
}
</style>
</head>
<body>
<div class="container-fluid"> 
<include file="Common:position" />
<form action="{:U('index')}" method="post" name="form" class="form-inline definewidth m10">
  <input name="title" type="text" class="form-control w30" value="{$keyword}" placeholder="广告别名">
  &nbsp;
  <button name="btn" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>查 询</button>
  &nbsp;
  <button type="button" class="btn btn-success" id="addnew" onClick="javascript:window.location.href='{:U('addad')}'"><i class=" glyphicon glyphicon-plus"></i>添加广告</button>
</form>
<form action="{:U('delall')}" method="post" name="form2" id="playList" class="form-inline definewidth m10" style="margin-left:0px;">
  <input name="typename" type="hidden" value="main">
<table class="table table-bordered table-hover definewidth m10" style="font-size:12px">
 
    <tr>
      <th>选择</th>
      <th>广告位位置</th>
      <th>广告位标识</th>
   
      <th>类型</th>
      <th>添加时间</th>
      <th>操作</th>
    </tr>
    <volist name="list" id="vo" key="k">
      <tr>
        <td align="left"><input name="id[]"  class="id" type="checkbox"  value="{$vo.id}">
          {$vo.id}</td>
        <td align="left">{$vo.adname}</td>
        <td align="left">{$vo.adid}</td>
        
        <td align="left"><switch name="vo.typeid" >
            <case value="1" >表示代码(网页代码)</case>
            <case value="2" >文字广告</case>
            <case value="3" >图片广告</case>
            <case value="4" >flash广告</case>
            <case value="5" >幻灯片</case>
            <default />
            未知类型 </switch></td>
        <td align="left">{$vo.ctime|Date='Y-m-d H:i:s',###}</td>
        <td align="left"><if condition="$vo.typeid eq 5"><a href="{:U('slidelist',array('id'=>$vo['id']))}">上传图片</a> | </if>
         <!-- <a href="{:U('getCode',array('id'=>$vo['id']))}">获取代码</a> |--> <a href="{:U('edit',array('id'=>$vo['id']))}"> 修改</a> | <a href="javascript:void(0)" link="{:U('del',array('id'=>$vo['id']))}" class="delCate"> 刪除 </a></td>
      </tr>
    </volist>
    <tr bgcolor="#FFFFFF">
      <td colspan="7" align="center">
      <if condition="trim($page) neq '' ">
      <ul class="pagination text-center" style="margin:10px 0px">{$page} </ul>
        </if>
        </td>
    </tr>
    <tr bgcolor="#FFFFFF">
      <td colspan="7" align="left">* 广告的类型: 1 表示代码(网页代码,2 表示文字广告,3 表示图片广告, 4 表示flash广告，5 表示幻灯片</td>
    </tr>
  </table>
</form>
</div>
<script type="text/javascript">
$(function(){
	$(".delCate").click(function(){
		var $this=$(this);
		layer.confirm('确定要删除嘛?', {
		  btn: ['确定','取消'] //按钮
		}, function(){
			var url = $this.attr("link");
		  	$.get(url,function(data){
				if(data.status==1){
				  layer.msg(data.info, {icon: 1});
				}else{
				  layer.msg(data.info, {icon: 2});
				}
				setTimeout("window.location.reload();",2000);
		  	});
		});	
	});
});
</script>
</body>
</html>