<include file="Common:header" />
<div class="container mt20">
  <div class="myshopping m_10">
    <ul class="order_step">
      <li class="current"><span class="first">1、{:L('VIEW_SHOPPING_CART')}</span></li>
      <li><span>2、{:L('FILL_ORDER_INFORMATION')}</span></li>
      <li class="last"><span>3、{:L('SUCCESSFUL_SUBMISSION_ORDERS')}</span></li>
    </ul>
  </div>
  <if condition="!$userInfo">
    <div class="nologin-tip"> <span class="wicon"></span>{:L('CART_NO_LOGIN')} <a class="btn-1 ml10" href="{:U('Login/index',array('jumpUrl'=>base64_encode(U('Cart/index'))))}">{:L('SIGN_IN')}</a> </div>
  </if>
  <notempty name="cart_list">
  <div class="w">
    <div class="cart-filter-bar">
      <ul class="switch-cart">
        <li class="switch-cart-item curr"> <a href="#none"> <em>{:L('ALL_GOODS')}</em> <span class="number">({$cart_list|count})</span> </a> </li>
      </ul>
    </div>
  </div>
  <div class="cart-thead">
    <table class="table table-bordered table-hover" style=" font-size:12px; width:100%">
      <tr>
        <th width="46%">{:L('COMMODITY_NAME')}</th>
        <th width="13%">{:L('LATEST_PRICE')}（{:L('DOLLAR')})</th>
        <th width="14%">{:L('COMMODITY_QUANTITY')}</th>
        <th width="8%">{:L('TOTAL_COMMODITY')}({:L('DOLLAR')})</th>
        <th width="9%">{:L('OPERATION')}</th>
      </tr>
      <volist name="cart_list" id="vo">
      <tr>
        <td><div class="goods-item">
            <div class="p-img"> <a href="{$vo.url}" target="_blank" > <img alt="{$vo.goods_name}" src="{$vo.product_info.thumb}" width="60" height="60"></a> </div>
            <div class="item-msg" style="width:80%; float:left; margin-left:15px;">
              <div class="p-name"> <a  href="{$vo.url}" target="_blank">{$vo.goods_name}</a> </div>
              <notempty name="vo['attr_list']">
              <div class="p-extra"> 
              	<volist name="vo['attr_list']" id="attr">
              	<span class="txt" title="{$attr.value}">{$attr.key}：{$attr.value}</span> 
                </volist>
              </div>
              </notempty>
            </div>
          </div></td>
        <td valign="middle">
        	<if condition="$vo['promotion_price'] gt 0">
                <strong>￥{$vo.promotion_price|default=0}({:L('PROMOTION_PRICE')})</strong>
                <div style="color:#FF0000"><s>￥{$vo.goods_price|default=0}</s></div>
            <else />
           	 <strong>￥{$vo.goods_price|default=0}</strong>
            	<div style="color:#FF0000"><s>￥{$vo.market_price|default=0}</s></div>
            </if>
          </td>
        <td align="center">
        	<div class="quantity-form"> 
            	<a href="javascript:void(0);" class="decrement" rid="{$vo.id}" fun="cart_num_down">-</a>
         		<input autocomplete="off" type="text" class="form-control input_form input_form_number "  rid="{$vo.id}" id="input_form_{$vo.id}" value="{$vo.goods_number|default=1}" style="width:50px; text-align:center">
          		<a href="javascript:void(0);"  class="increment"  rid="{$vo.id}" fun="cart_num_up">+</a> 
             </div>
        </td>
        <td><strong>{$vo.total_price}</strong></td>
        <td valign="middle"><a   class="cart-remove" rid="{$vo.id}" href="javascript:void(0);">{:L('DELETE')}</a></td>
      </tr>
      </volist>
    </table>
  </div>
  <div class="cart-toolbar" style="width: 100%; height: 80px; display:inline-block; margin-bottom:25px; padding:15px 0px">
    <div class="toolbar-wrap">
      <div class="options-box">
        <div class="operation"> <a href="#none"  class="remove-batch" rid=""><i class="glyphicon glyphicon-remove" style="color:#FF0000"></i>{:L('EMPTY_CART')}</a> </div>
        <div class="clr"></div>
        <div class="toolbar-right">
          <div class="normal">
            <div class="comm-right">
              <div class="btn-area"> <a href="{:U('Pay/index')}"  class="submit-btn" data-bind="1"> {:L('SETTLEMENT')}<b></b></a> </div>
              <div class="price-sum">
                <div> 
                	<span class="txt">{:l('TOTAL_PRICE_SHIPPING')}：</span> 
                	<span class="price sumPrice"><em data-bind="{$total_price|default=0}">¥{$total_price|default=0}</em></span> 
                    <if condition="$save_price gt 0">
                    <br>
                    <span class="txt">{:L('ALREADY_SAVE')}：</span> 
                    <span class="price totalRePrice">- ¥{$save_price|default=0}</span> 
                    </if>
               </div>
              </div>
             <!-- <div class="amount-sum"> 商品总金额：<em>￥0</em> - 商品优惠：<em>￥0 </em>- 促销活动优惠：<em>￥0</em> </div>-->
              <div class="clr"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <else />
  	<div class="noshop">
    	<i class="glyphicon glyphicon-remove" style="color:#FF0000"></i>&nbsp;
        <if condition="$userInfo">{:L('GOODS_SHOPPING_CART')}，<a href="__ROOT__/">{:L('SHOP_IMMEDIATELY')}</a><else />{:L('NOT_LOGIN_SHIPPING_LIST')}</if>
     </div>
  </notempty>
</div>
<include file="Common:layer" />
<script type="text/javascript">
$(function(){
	$(".quantity-form a").click(function(){
		 var cartId=$(this).attr("rid");
		 var fun_value=$(this).attr("fun")
		 var input_form_value=$("#input_form_"+cartId).val();
		 if(fun_value=='cart_num_down'){
			var value=parseInt(input_form_value)-1;
		 }else{
			var value=parseInt(input_form_value)+1;	 
		 }
		 if(value<=0){
			 layer.alert("{:L('COMMODITY_QUANTITY_THAN0')}");
			 return false;
		 }
		 $("#input_form_"+cartId).val(value);
		 $.post("{:U('Cart/updateCart')}",{"cartId":cartId,"number":value},function(data){
			 if(data.status==0){
				layer.alert(data.info);
			 	return false;	 
			 }else{
				window.location.reload();	
			 }
		 });
		 return false;
	});
	
	$(".input_form_number").blur(function(){
		 var cartId=$(this).attr("rid");
		 var input_form_value=$("#input_form_"+cartId).val();
		 if(input_form_value<=0){
			 layer.alert("{:L('COMMODITY_QUANTITY_THAN0')}");
			 return false;
		 }
		  $.post("{:U('Cart/updateCart')}",{"cartId":cartId,"number":input_form_value},function(data){
			 if(data.status==0){
				layer.alert(data.info);
			 	return false;	 
			 }else{
				window.location.reload();	
			 }
		 });
		 return false;
	});
	
	$(".cart-remove,.remove-batch").click(function(){
		 var cartId=$(this).attr("rid");
		layer.confirm("{:L('DELETE_GOODS')}", {
		 btn: ["{:L('DETERMINE')}","{:L('CANCEL')}"], //按钮
		  title:"{:L('PROMPT')}"
		}, function(){
			$.post("{:U('Cart/clearCart')}",{"cartId" : cartId},function(data){
				if(data.status==0){
				 	layer.msg(data.info, {icon: 2});
			 	 	return false;
				}else{
					 layer.msg(data.info, {icon: 1});	
				}
				setTimeout("window.location.reload();",2000);
			});
		}); 
		 return false;
	});
 
})
</script>
<!--网页底部--> 
<include file="Common:footer" /> 
<!--网页底部 结束--> 