<include file="Common:header" />
<div class="swiper-container" id="t-ban">
  <div class="swiper-wrapper">
    <Ad:slide id="Home_slide">
      <div class="swiper-slide"><a href="{$slide.linkurl}"><img src="{$slide.picurl}"/></a></div>
    </Ad:slide>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
</div>

<!--最新产品区域-->
<div class="container">
  <div class="title-01">
    <h2>{:L('NEW_PRODUCT')}</h2>
    <h3>LATEST PRODUCTS</h3>
  </div>
  <div class="swiper-container" id="sy-cplist">
    <div class="swiper-wrapper">
    
     <Vo:list name="Product" field="id,title,catid,thumb" limit="20" order="id desc">
      <div class="swiper-slide">
        <div class="sy-cpbox">
          <div class="cp-img"> <a href="{$list.url}"><img src="{$list.thumb}"/></a> </div>
          <p><a href="{$list.url}">{$list.title}</a></p>
        </div>
      </div>
     </Vo:list>
     
      
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
  <a href="/product/" class="cp-gd">{:L('SEE_MORE')} ></a> </div>
<!--最新产品区域 结束--> 

<!--关于我们区域-->
<div class="box2">
  <div class="container">
    <div class="title-01">
      <h2>{:L('ABOUT_US')}</h2>
      <h3>ABOUT  US</h3>
    </div>
     <Vo:block adid="home_about">{$block.content}</Vo:block>
  </div>
</div>
<!--关于我们区域 结束--> 

<!--新闻咨询-->
<div class="container">
  <div class="title-01">
    <h2>{:L('Latest_Information')}</h2>
    <h3>LATEST NEWS</h3>
  </div>
  <div class="sy-newsbox row">
    <ul class="clearfix">
    	<Vo:list name="Article" field="id,title,catid,thumb,description" limit="8" order="id desc">
      <li class="col-md-6 col-lg-6 col-sm-12">
        <div class="sy-n-img"> <a href="{$list.url}"><img src="{$list.thumb}"/></a> </div>
        <div class="sy-n-txt">
          <h2><a href="{$list.url}">{$list.title}</a></h2>
          <p>{$list.description}</p>
        </div>
      </li>
      </Vo:list>
      
    </ul>
  </div>
  
  <div class="newlist">
      	<div class="title">{:L('Link')}</div>
        <div class="flink">
        	<ul class="x mbm cl list-inline ">
            	<Vo:link field="name,siteurl,logo" order="listorder desc,id desc">
            	<li><a href="{$link.siteurl}" target="_blank" title="{$link.name}" rel="nofollow">{$link.name}</a></li>
                </Vo:link>
              </ul>
               {:W('LinkCommon/flink')} 
        </div>
        
 </div>
</div>
<!--新闻咨询 结束--> 

<!--在线客服-->
<include file="Common:kefu" />
<!--在线客服-->

<!--网页底部--> 

<include file="Common:footer" /> 

