<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>添加修改模型</title>
<include file="Common:jscss" />
</head>
<body>
<div class="container-fluid">
<include file="Common:position" />
<div id="main" class="main" >
  <div class="content">
    <form action="{:U($method)}" method="post" enctype="multipart/form-data" name="form2" id="playList">
      <input name="id" type="hidden" value="{$info.id}">
      <table class="table table-bordered table-hover definewidth m10" style="font-size:12px">
        <tr  bgcolor="#FFFFFF">
          <th>模型名称： </th>
          <td width="1070" colspan="5" style="text-align:left;"><input name="title" type="text" id="title"  class="form-control w30" value="{$info.title}" style="float:left"> 
          <div class="help-block">例如：文章模型</div></td>
        </tr>
        <tr bgcolor="#FFFFFF">
          <th width="133"> 模型表名： </th>
          <td colspan="5"  class="tLeft"><input name="name" type="text" id="name" class="form-control w30" style="float:left;"  value="{$info.name}" <notempty name="info['name']">readonly</notempty> > <div class="help-block">填写后不可修改 例如：article</div>
            &nbsp;<span class="tip"></span></td>
        </tr>
        <tr bgcolor="#FFFFFF">
          <th width="133"> 控制器名称： </th>
          <td colspan="5"  class="tLeft"><input name="controller_name" type="text" id="controller_name" class="form-control w30" style="float:left;" value="{$info.controller_name}">
            <div class="help-block">例如:Article</div>&nbsp;<span class="tip"></span></td>
        </tr>
        <tr  bgcolor="#FFFFFF">
          <th> 列表页调用字段： </th>
          <td colspan="5" style="text-align:left;"><span class="tLeft">
            <input name="listfields" type="text" id="listfields" class="form-control w30" value="{$info.listfields|default='*'}">
          </span> <div class="help-block">例:id,title,url,catid</div></td>
        </tr>
        <tr  bgcolor="#FFFFFF"  id="logo" >
          <th> 模型简介： </th>
          <td colspan="5" style="text-align:left;"><textarea name="description" id="description" class="form-control w30" cols="" rows="">{$info.description}</textarea></td>
        </tr>
        <tr  bgcolor="#FFFFFF">
          <th> 后台模板文件： </th>
          <td colspan="5" style="text-align:left;"><span class="tLeft">
            <input name="template" type="text" id="template" class="form-control w30" value="{$info.template}">
            </span> <div class="help-block">默认为空</div></td>
        </tr>
        <tr  bgcolor="#FFFFFF">
          <th> 是否显示： </th>
          <td colspan="5" style="text-align:left;"><label style="float:left; margin-right:10px;"> <input type="radio" name="status" value="1" id="ishome_0" 
              
              <if condition="$info['status'] eq 1">checked</if>
              >
              是</label>
            <label style="float:left; margin-right:10px;"> <input type="radio" name="status" value="0" id="ishome_1" 
              
              <if condition="$info['status'] eq 0">checked</if>
              >
              否</label></td>
        </tr>
        <tr bgcolor="#FFFFFF">
          <td  class="tLeft">&nbsp;</td>
          <td colspan="5"  class="tLeft"><input type="submit" name="button" id="button" class="btn btn-primary btn6" value="提交">
            &nbsp;&nbsp;
      <button type="button" class="btn btn6" onclick="history.go(-1)" name="backid" id="backid">返回</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
</label>
<script type="text/javascript">    
$(document).ready(function(){
	 $("input[name='linktype']").click(function(){
			 var linktype=$('input[name="linktype"]:checked').val();
			 if(linktype==1){
				$('#logo').hide();
			 }else if(linktype==2){
				 $('#logo').show();
			 }
        });
    });

</script>
</body>
</html>
