<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>添加修改字段</title>
<include file="Common:jscss" />
</head>
<body>
<div class="container-fluid">
<include file="Common:position" />
<div id="main" class="main" >
  <div class="content">
    <form action="{:U($method)}" method="post" enctype="multipart/form-data" name="form2" id="playList">
      <input name="id" type="hidden" value="{$info.id}">
      <input name="moduleid" type="hidden" value="{$info.moduleid}">
      <input name="oldfield" type="hidden" value="{$info.field}">
      <ul class="nav nav-tabs tab-nav margin_bottom" id="myTab" >
      		  <li><a href="#basic" style="padding: 10px 20px; font-size:16px; font-weight:bold">基本</a></li>
                <li><a href="#kuozhang"  style="padding: 10px  20px; font-size:16px; font-weight:bold">扩展</a></li>
      </ul>
      <div class="tab-content">
       	<div class="tab-pane active" id="basic">
       <table class="table table-bordered table-hover definewidth" style="font-size:12px">
         
        
        <tr  bgcolor="#FFFFFF">
          <th>字段名称： </th>
          <td width="1070" colspan="5" style="text-align:left;"><input name="field" type="text" id="field"  class="form-control w30" value="{$info.field}" style="float:left"> 
          <div class="help-block">例如：title</div></td>
        </tr>
        <tr bgcolor="#FFFFFF">
          <th width="133"> 字段标题： </th>
          <td colspan="5"  class="tLeft"><input name="name" type="text" id="name" class="form-control w30" style="float:left;"  value="{$info.name}" > 
            &nbsp;<span class="tip"></span></td>
        </tr>
          <tr bgcolor="#FFFFFF">
          <th width="133"> 提示信息： </th>
          <td colspan="5"  class="tLeft"><input name="tips" type="text" id="tips" class="form-control w30" style="float:left;"  value="{$info.tips}" > 
            &nbsp;<span class="tip"></span></td>
        </tr>
         <tr  bgcolor="#FFFFFF">
          <th>字段类型： </th>
          <td width="1070" colspan="5" style="text-align:left;">
          <select name="type" id="field_type" class="form-control w30">
              <option value="">==请选择字段类型==</option>
              <volist name="field_list" id="vo">
                 <option value="{$key}" <eq name="info['type']" value="$key"> selected </eq> >{$vo}</option>
              </volist>
            </select>
          </td>
        </tr>
         
         <tr  bgcolor="#FFFFFF"  id="logo" >
          <th>  字段相关参数： </th>
          <td colspan="5" style="text-align:left;" id="field_setup"></td>
        </tr>
		<tr bgcolor="#FFFFFF">
          <th width="133"> 限制字符串长度： </th>
          <td colspan="5"  class="tLeft">	<span style="float:left; line-height:35px;">最小</span> <input type="text" id="minlength" name="minlength" value="{$info.minlength}" style="width:60px;" size="2" class="form-control w30"> <span style="float:left; line-height:35px;">最大</span> <input type="text" id="maxlength" name="maxlength" value="{$info.maxlength}" class="form-control w30" style="width:60px;" size="2"> <span style="float:left; line-height:35px;">个字符</span>
		  </td>
        </tr>
        <tr  bgcolor="#FFFFFF">
          <th>验证规则：</th>
          <td colspan="5" style="text-align:left;">
          	<select id="pattern" name="pattern" onchange="" class="form-control w30">
            	<option value="0">请选择</option>
                <option value="email" <eq name="info['pattern']" value="email">selected</eq> >电子邮件地址</option>
                <option value="url" <eq name="info['pattern']" value="url">selected</eq>>网址</option>
                <option value="date" <eq name="info['pattern']" value="date">selected</eq>>日期</option>
                <option value="number" <eq name="info['pattern']" value="number">selected</eq>>有效的数值</option>
                <option value="digits" <eq name="info['pattern']" value="digits">selected</eq>>数字</option>
                <option value="creditcard" <eq name="info['pattern']" value="creditcard">selected</eq>>信用卡号码</option>
                <option value="equalTo" <eq name="info['pattern']" value="equalTo">selected</eq>>再次输入相同的值.</option>
                <option value="ip4" <eq name="info['pattern']" value="ip4">selected</eq>>IP地址</option>
                <option value="mobile" <eq name="info['pattern']" value="mobile">selected</eq>>手机号码</option>
                <option value="zipcode" <eq name="info['pattern']" value="zipcode">selected</eq>>邮编</option>
                <option value="qq" <eq name="info['pattern']" value="qq">selected</eq>>QQ号码</option>
                <option value="idcard" <eq name="info['pattern']" value="idcard">selected</eq>>身份证号</option>
                <option value="chinese" <eq name="info['pattern']" value="chinese">selected</eq>>中文字符</option>
                <option value="cn_username" <eq name="info['pattern']" value="cn_username">selected</eq>>中文英文和数字和下划线</option>
                <option value="tel" <eq name="info['pattern']" value="tel">selected</eq>>电话号码</option>
                <option value="english"  <eq name="info['pattern']" value="english">selected</eq>>英文</option>
                <option value="en_num"  <eq name="info['pattern']" value="en_num">selected</eq>>英文和数字和下划线</option
                ></select></td>
        </tr>
        <tr  bgcolor="#FFFFFF">
          <th> 排序： </th>
          <td colspan="5" style="text-align:left;"><span class="tLeft">
            <input name="listorder" type="text" id="listorder" class="form-control w30" value="{$info.listorder|default='0'}">
            </span></td>
        </tr>
    
         <tr  bgcolor="#FFFFFF">
          <th> 是否必填： </th>
          <td colspan="5" style="text-align:left;">
            <label style="float:left; margin-right:10px;"> <input type="radio" name="required" value="0" id="required_1" 
              
              <if condition="$info['required'] eq 0">checked</if>
              >
              否</label>
              <label style="float:left; margin-right:10px;"> <input type="radio" name="required" value="1" id="required_0" 
              
              <if condition="$info['required'] eq 1">checked</if>
              >
              是</label>
              </td>
        </tr>
            <tr  bgcolor="#FFFFFF">
          <th> 是否显示： </th>
          <td colspan="5" style="text-align:left;"><label style="float:left; margin-right:10px;"> <input type="radio" name="status" value="1" id="ishome_0" 
              
              <if condition="$info['status'] eq 1">checked</if>
              >
              否</label>
            <label style="float:left; margin-right:10px;"> <input type="radio" name="status" value="0" id="ishome_1" 
              
              <if condition="$info['status'] eq 0">checked</if>
              >
              是</label></td>
        </tr>
            <tr  bgcolor="#FFFFFF">
          <th> 在前台显示： </th>
          <td colspan="5" style="text-align:left;"><label style="float:left; margin-right:10px;"> <input type="radio" name="ispost" value="1" id="ispost_0" 
              
              <if condition="$info['ispost'] eq 1">checked</if>
              >
              否</label>
            <label style="float:left; margin-right:10px;"> <input type="radio" name="ispost" value="0" id="ispost_1" 
              
              <if condition="$info['ispost'] eq 0">checked</if>
              >
              是</label></td>
        </tr>
      </table>
        </div>
       	<div class="tab-pane" id="kuozhang">
        	 <table class="table table-bordered table-hover definewidth" style="font-size:12px">
             	<tr  bgcolor="#FFFFFF">
                  <th> 自动验证： </th>
                  <td colspan="5" style="text-align:left;"><textarea name="validate" class="common-textarea form-control" id="validate" cols="30" rows="10" placeholder="格式：array(array('field','require','标题必须填写！'),array('field','3,10','标题必须是3到10位！',0,'length',3)),...">{$info.validate}</textarea>
                  <div class="help-block"><span class="red">*其中字段用field填充即可！</span><span style="color:green;cursor:pointer" onclick="javascript:layer.open({maxmin:true,type: 1,title: '自动验证参数',area: ['80%', '80%'],content: $('#validate_canshu')})">查看自动验证参数</span>(格式：array(array('field','require','标题必须填写！'),array('field','3,10','标题必须是3到10位！',0,'length',3)),...)</div>
                  </td>
                </tr>
             </table>
        </div>
       </div>
      
       <table class="table table-bordered table-hover definewidth" style="font-size:12px">
       <tr bgcolor="#FFFFFF">
          <td  class="tLeft"><input type="submit" name="button" id="button" class="btn btn-primary btn6" value="保存">
                     &nbsp;&nbsp;
      <button type="button" class="btn btn6" onclick="history.go(-1)" name="backid" id="backid">返回</button>
          </td>
         </tr>
      </table>
    </form>
  </div>
</div>
<!--自动验证规则-->
<div id="validate_canshu" class="table-responsive" style='display:none;padding:10px 15px;height:90%;'>
    <table style='width:100%;text-align:left; font-size:14px' border="1px solid #ccc" class="table table-hover">
        <caption style='text-align:left;padding:10px 0;font-weight:bold'>1、验证规则列表：<span class='green'>array(字段,验证规则,错误提示,[验证条件,附加规则,验证时间])<br>例如：array(array('field','require','标题必须填写！'),array('field','3,10','标题必须是3到10位！',0,'length',3)),...</span></caption>
        <tr>
            <th>附加规则</th>
            <th>说明</th>
        </tr>
        <tr>
            <th>regex</th>
            <td>正则验证（<span class='green'>默认</span>），基本规则：<span class='green'>'/^(.*+)$/'、require、email、url、currency 货币、number</span></td>
        </tr>
        <tr>
            <th>function</th>
            <td>函数验证，格式：<span class="green">格式：myfunction</span></td>
        </tr>
        <tr>
            <th>callback</th>
            <td>回调函数验证，当前模型类的一个方法，<span class="green">格式：callbackfun</span></td>
        </tr>
        <tr>
            <th>confirm</th>
            <td>验证表单中的两个字段是否相同，<span class="green">格式：password</span></td>
        </tr>
        <tr>
            <th>equal</th>
            <td>验证是否等于某个值，<span class="green">格式：100</span></td>
        </tr>
        <tr>
            <th>notequal</th>
            <td>验证是否不等于某个值，<span class="green">格式：100</span></td>
        </tr>
        <tr>
            <th>in</th>
            <td>验证是否在某个范围内，<span class="green">格式：100,200或者array(100,200)</span></td>
        </tr>
        <tr>
            <th>notin</th>
            <td>验证是否不在某个范围内，<span class="green">格式：100,200或者array(100,200)</span></td>
        </tr>
        <tr>
            <th>length</th>
            <td>验证长度，<span class="green">格式：5或者5,10</span></td>
        </tr>
        <tr>
            <th>between</th>
            <td>验证范围，<span class="green">格式：1,31或者array(1,31)</span></td>
        </tr>
        <tr>
            <th>notbetween</th>
            <td>验证不在某个范围，<span class="green">格式：100,200或者array(100,200)</span></td>
        </tr>
        <tr>
            <th>expire</th>
            <td>验证是否在有效期，<span class="green">格式：2012-1-15,2013-1-15</span>，也可以使用时间戳定义</td>
        </tr>
        <tr>
            <th>ip_allow</th>
            <td>允许的IP地址列表，<span class="green">格式：201.12.2.5,201.12.2.6</span></td>
        </tr>
        <tr>
            <th>ip_deny</th>
            <td>禁止的ip地址列表，<span class="green">格式：201.12.2.5,201.12.2.6</span></td>
        </tr>
        <tr>
            <th>unique</th>
            <td>验证是否唯一，<span class="green">格式：array('name','','帐号名称已经存在！',0,'unique',1)</span></td>
        </tr>
    </table>
    
    <table style='width:100%;text-align:left' border="1px solid #ccc" class="table table-hover">
        <caption style='text-align:left;padding:10px 0;font-weight:bold'>2、验证条件列表</caption>
        <tr>
            <th>条件</th>
            <th>说明</th>
        </tr>
        <tr>
            <th>self::EXISTS_VALIDATE 或者0 </th>
            <td>存在字段就验证（<span class="green">默认</span>）</td>
        </tr>
        <tr>
            <th>self::MUST_VALIDATE 或者1 </th>
            <td>必须验证</td>
        </tr>
        <tr>
            <th>self::VALUE_VALIDATE或者2</th>
            <td>值不为空的时候验证</td>
        </tr>
    </table>

    <table style='width:100%;text-align:left' border="1px solid #ccc" class="table table-hover">
        <caption style='text-align:left;padding:10px 0;font-weight:bold'>3、验证时间列表</caption>
        <tr>
            <th>验证时间</th>
            <th>说明</th>
        </tr>
        <tr>
            <th>self::MODEL_BOTH或者3</th>
            <td>全部情况下验证（<span class="green">默认</span>）</td>
        </tr>
        <tr>
            <th>self::MODEL_INSERT或者1</th>
            <td>新增数据时候验证</td>
        </tr>
        <tr>
            <th>self::MODEL_UPDATE或者2</th>
            <td>编辑数据时候验证</td>
        </tr>
    </table>
    <div class="blank10"></div>
</div>
<!--end 自动验证规则-->

<script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap.min.js"> </script> 
<script type="text/javascript">    
function field_setting(type_value){
	<if condition="$info['setup']">
		var data =  {$info.setup|json_encode};
	<else />
		var data =  {"type":type_value};
	</if>
	var url =  "{:U('field_add',array('isajax'=>1))}";
	$.ajax({
		 type: "POST",
		 url: url,
		 data: data,
		 beforeSend:function(){
			$('#field_setup').html('<img src="__PUBLIC__/layer/skin/default/loading-2.gif">');
		 },
		 success: function(msg){
			$('#field_setup').html(msg);
		 },
		 complete:function(){
		 },
		 error:function(){
		 }
	});	
}
$(document).ready(function(){
	field_setting($("#field_type").val());
 	$("#field_type").change(function(){
		field_setting($(this).val());
	});
	$('#myTab a:first').tab('show');//初始化显示哪个tab  
	$('#myTab a').click(function (e) { 
	  e.preventDefault();//阻止a链接的跳转行为 
	  $(this).tab('show');//显示当前选中的链接及关联的content 
	}) 
	
	$("#button").click(function(){
		 if($("#field").val().length<=0){
				layer.tips('请输入字段名', '#field',{tips: [2, '#3a8ea1']});
				return false;	
		  }
		  if($("#name").val().length<=0){
				layer.tips('请输入字段名称', '#name',{tips: [2, '#3a8ea1']});
				return false;	
		  }
		   if($("#field_type").val().length<=0){
				layer.tips('请输入字段类型', '#field_type',{tips: [2, '#3a8ea1']});
				return false;	
		  }
		  

	});
});

</script>
</body>
</html>
