<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>模型管理字段</title>
<base target="_self">
<include file="Common:jscss" />
<style type="text/css">
.fenye li {
	float:left;
	margin:10px 5px;
}
.listnav {
	margin:0px;
	padding:0px;
	height:150px;
	overflow:auto
}
.listnav li {
	width:50%;
	float:left;
}
</style>
</head>
<body>
<div class="container-fluid"> 
<include file="Common:position" />
  <form class="form-inline margin_bottom"  method="post">
  &nbsp;&nbsp;
    <button type="button" class="btn btn-primary" id="update_listorder"><i class="glyphicon glyphicon-tag"></i>更新排序</button>
    &nbsp;&nbsp;
    <button type="button" class="btn btn-success" id="addnew" onClick="javascript:window.location.href='{:U('field_add',array('moduleid'=>$moduleid))}'"><i class="glyphicon glyphicon-plus"></i>添加字段</button>
    </form>
    
<form action="" method="post" name="form2" id="playList" class="form-inline definewidth m10" style="margin-left:0px;">
<input name="moduleid" type="hidden" value="{$moduleid}">
<table class="table table-bordered table-hover definewidth m10" style="width:100%; font-size:14px">
 
    <tr>
      <th width="5%">排序</th>
      <th width="10%">别名</th>
      <th width="11%">字段名</th>
      <th width="18%">类型</th>
      <th width="6%">必填</th>
      <th width="6%">系统</th>
      <th width="6%">状态</th>
      <th width="11%">操作</th>
    
    </tr>
    <volist name="field_list" id="vo" key="k">
      <tr>
        <td align="left"><input class="common-input  sort form-control sort-input" dataid="{$vo.id}" name="listorder[{$vo.id}]" value="{$vo.listorder}" type="text" style="width:36px;"></td>
        <td align="left">{$vo.name}</td>
        <td align="left">{$vo.field}</td>
        <td align="left">{$vo.type}({$vo.type_txt})</td>
        <td align="center"><eq name="vo['required']" value="1"><img src="../Public/images/yes.gif" /><else /><img src="../Public/images/no.gif" /></eq></td>
        <td align="center"><eq name="vo['issystem']" value="1"><img src="../Public/images/yes.gif" /><else /><img src="../Public/images/no.gif" /></eq></td>
        <td align="left"><eq name="vo['status']" value="0"><img src="../Public/images/yes.gif" /><else /><img src="../Public/images/no.gif" /></eq></td>
        <td align="left"><a href="{:U('field_edit',array('id'=>$vo['id']))}">修改</a>| <a href="javascript:confirm_delete({$vo.id})">删除</a></td>
    
      </tr>
    </volist>
 
    
  </table>
</form>
<script type="text/javascript">
function confirm_delete(id){
	layer.confirm("确认要删除字段嘛?",function(){
		 $.post("{:U('delete')}",{"id":id},function(data){
			if(data.status==1){
				layer.alert(data.info,function(){ window.location.reload();});	
				 
			}	 
		 });
	})	
}
$(function(){
	$("#update_listorder").click(function(){
		$("#playList").attr("action","{:U('listorder')}");	
		$("#playList").submit();
	});	
})
</script>
</div>
</body>
</html>