<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$module_info.title}管理</title>
<include file="Common:jscss" />
</head>
<body>
<div class="container-fluid"> 
 <include file="Common:position" />
<div id="Right">
  <form class="form-inline margin_bottom" action="{:U('index',array('moduleid'=>$moduleId))}" method="post">
    标题：
    <input type="text" name="keyword" id="keyword" class="form-control w30" placeholder="标题" value="{$keyword}">
    &nbsp;
    <notempty name="category_list">
    <select name="catid" class="form-control w30">
      <option value="">==请选择分类==</option>
      <volist name="category_list" id="vo"> 
      	{$vo.option}
      </volist>
    </select>
    </notempty>
    <notempty name="flag_list">
     <select name="posid" class="form-control w30">
      <option value="">==请选择推荐位==</option>
      <volist name="flag_list" id="vo"> 
      	 <option value="{$vo.id}"  <if condition="$posid eq $vo['id']">selected</if>>{$vo.name}</option>
      </volist>
    </select>
    </notempty>
    &nbsp;&nbsp;
    <select name="status" class="form-control w30">
      <option value=""  >==请选择==</option>
      <option value="1" 
      
      <if condition="$status eq '1'">selected</if>
      >隐藏
      
      </option>
      <option value="0" 
      
     <if condition="isset($status ) and $status eq 0">selected</if>
      >显示
      
      </option>
    </select>
    &nbsp;&nbsp;
    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>查询</button>
    &nbsp;&nbsp;
    <button type="button" class="btn btn-success" id="addnew" onClick="javascript:window.location.href='{:U('add',array('moduleid'=>$moduleId))}'"><i class="glyphicon glyphicon-plus"></i>添加{$module_info.title}</button>
     &nbsp;&nbsp;
    <button type="button" class="btn delestatus btn-danger"><i class="glyphicon glyphicon-trash"></i>批量删除</button>
  </form>
  <table class="table table-bordered table-hover definewidth m10" style=" font-size:12px">
    <thead>
      <tr>
        <th width="45" align="center" style="text-align:center"> <input name="" class="chooseAll" type="checkbox" title="点击全选"/></th>
        <th width="83">
          &nbsp;ID &nbsp;</th>
        <th width="498">标题</th>
        <th width="237">分类</th>
        <th width="77">状态</th>
        <th width="143">发布时间</th>
        <th width="73">排序</th>
        <th width="108">操作</th>
      </tr>
    </thead>
    <volist name="userlist" id="vo">
      <tr align="center" id="{$vo.id}">
        <td align="center"><input name="aid[]" type="checkbox" value="{$vo.id}"></td>
        <td align="left">{$vo.id}</td>
        <td align="left">{$vo.title} &nbsp; {$vo.posid|getColorFlag}</td>
        <td>{$vo.typename}</td>
        <td><a href="javascript:void(0)" class="opStatus" val="{$vo.status}">
          <if condition="$vo['status'] eq 1">隐藏
            <else />
            显示</if>
          </a></td>
        <td>{$vo.createtime|date="Y-m-d H:i",###}</td>
        <td fd="listorder" edit="0">{$vo.listorder}</td>
        <td><a href="{:U('edit',array('id'=>$vo['id'],'moduleid'=>$moduleId))}">修改 </a> |
          <a link="{:U('delAll',array('files'=>$vo['id'],'moduleid'=>$moduleId))}" href="javascript:void(0)" name="{$vo.title}" class="del">删除 </a>
        </td>
      </tr>
    </volist>
    <tr>
 
      <td colspan="8" style="text-align:right;">
        <if condition="trim($page) neq '' ">
          <ul class="pagination text-center" style="margin:10px 0px">{$page} </ul>
          </if>
      </td>
      </tr>
    
    
  
  </table>
</div>
</div>

<script type="text/javascript">
$(function(){
clickCheckbox();
$(".del").click(function(){
	var delLink=$(this).attr("link");
	var $this=$(this);
	layer.confirm('确定要删除?', {
	  btn: ['确定','取消'] //按钮
	}, function(){
		$.get(delLink,function(data){
			if(data.status==1){
			  layer.msg(data.info, {icon: 1});
			}else{
			  layer.msg(data.info, {icon: 2});
			}
			setTimeout("window.location.reload();",2000);
		});
	});
});

 $(".delestatus").click(function(){
	  var files=[];
	  $("tbody input[type='checkbox'][name='aid[]']:checked").each(function(i){
		 files[i]=$(this).val();
	  });
	 if(files==""){
		layer.msg('请选择要删除的内容', {icon: 2});
		return false;	
	  } 
	var moduleid="{$moduleId}";
	layer.confirm('确定要删除所有内容?', {
	  btn: ['确定','取消'] //按钮
	}, function(){
		$.post("{:U('delAll')}",{"files" : files,'moduleid':moduleid},function(data){
			if(data.status==1){
			  layer.msg(data.info, {icon: 1});
			}else{
			  layer.msg(data.info, {icon: 2});
			}
			setTimeout("window.location.reload();",2000);
		});
	}); 
 });


//快捷启用禁用操作
$(".opStatus").click(function(){
	var obj=$(this);
	var id=$(this).parents("tr").attr("id");
	var status=$(this).attr("val");
	var moduleid="{$moduleId}";
	$.post("{:U('updateStatus')}", { "id":id, "value":status==1?0:1,'field':"status" ,"moduleid":moduleid}, function(json){
		if(json.status==1){
			layer.alert(json.info);
			$(obj).attr("val",status==1?0:1).html(status==1?"显示":"隐藏");
		}else{
			layer.alert(json.info);
		}
	});
});

   //快捷改变操作排序dblclick
$("tbody>tr>td[fd]").click(function(){  
			var inval = $(this).html();
			var infd = $(this).attr("fd");
			var inid =  $(this).parents("tr").attr("id");
			if($(this).attr('edit')==0){
			 $(this).attr('edit','1').html("<input class='input' style='width:30px;' size='5' id='edit_"+infd+"_"+inid+"' value='"+inval+"' />").find("input").select();
			}
			var moduleid="{$moduleId}";
			$("#edit_"+infd+"_"+inid).focus().bind("blur",function(){
				var editval = $(this).val();
				$(this).parents("td").html(editval).attr('edit','0');
				if(inval!=editval){ 
					$.post("{:U('updateStatus')}",{id:inid,'field':infd,"value":editval,"moduleid":moduleid});
				}
			})
		});
		


});
</script>
</body>
</html>
