<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>添加修改登录接口</title>
<include file="Common:jscss" />
</head>
<body>
<div class="container-fluid">
<include file="Common:position" />
<div id="main" class="main" >
  <div class="content">
    <form action="{:U($method)}" method="post" enctype="multipart/form-data" name="form2" id="playList">
      <input name="id" type="hidden" value="{$info.id}">
      <table class="insert-tab table table-hover" width="100%" style="font-size:12px">
        <tbody>
          <tr>
            <th width="11%">登录接口名称：</th>
            <td width="89%"><input class="common-text required form-control w30" id="name" name="name"  value="{$info.name}" type="text">
              <div class="help-block">例如：新浪微博登录接口</div></td>
          </tr>
          <tr>
            <th>接口唯一标识：</th>
            <td><input class="common-text required form-control w30" id="typename" name="typename" value="{$info.typename}" type="text">
              <div class="help-block">例如：sina</div></td>
          </tr>
          <tr>
            <th>APP key：</th>
            <td><input class="common-text required form-control w30" id="appkey" name="appkey"  value="{$info.appkey}" type="text">
              <div class="help-block">应用注册成功后分配的 APP ID</div></td>
          </tr>
          <tr>
            <th>App secret：</th>
            <td><input class="common-text required form-control w30" id="appsecret" name="appsecret" value="{$info.appsecret}" type="text">
              <div class="help-block">应用注册成功后分配的KEY</div></td>
          </tr>
            <tr>
            <th>排序：</th>
            <td><input class="common-text required form-control w30" id="listorder" name="listorder" size="50" value="{$info.listorder|default=50}" type="text">
              <div class="help-block">从大到小排序</div></td>
          </tr>
          <tr>
            <th>状态：</th>
            <td><select name="status" class="form-control w30">
                <option value="1" <eq name="info['status']" value="1"> selected="selected" </eq> >开启</option>
                <option value="0"  <eq name="info['status']" value="0"> selected="selected" </eq>>关闭</option>
              </select></td>
          </tr>
          <tr>
            <th>描述：</th>
            <td><textarea name="description" class="common-textarea form-control w30" id="description" >{$info.description}</textarea></td>
          </tr>
          <tr>
            <th></th>
            <td><input class="btn btn-primary btn6 mr10" id="submit" value="提交" type="submit" >
              <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button"></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
</div>
<script type="text/javascript">    
$(document).ready(function(){
	$("#submit").click(function(){
		var name = $('#name').val();
		var typename = $('#typename').val();
		if(name.length<=0){
			layer.tips('请输入接口名称', '#name',{tips: [2, '#337ab7']});
			return false;
		}
		if(typename.length<=0){
			layer.tips('请输入接口唯一标识', '#typename',{tips: [2, '#337ab7']});
			return false;
		}
		if($("#appkey").val().length<=0){
			layer.tips('请输入appkey', '#appkey',{tips: [2, '#337ab7']});
			return false;
		}
		if($("#appsecret").val().length<=0){
			layer.tips('请输入appsecret', '#appsecret',{tips: [2, '#337ab7']});
			return false;
		}
		return true;
	 
	});
});

</script>
</body>
</html>
