<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>添加修改邮件配置接口</title>
<include file="Common:jscss" />
</head>
<body>
<div class="container-fluid">
<include file="Common:position" />
<div id="main" class="main" >
  <div class="content">
    <form action="{:U($method)}" method="post" enctype="multipart/form-data" name="form2" id="playList">
      <table class="insert-tab table table-hover" width="100%" style="font-size:12px">
        <tbody>
          <tr>
            <th width="11%">邮箱地址：</th>
            <td width="89%"><input class="common-text required form-control w30" id="from_name" name="from_name"  value="{$info.from_name}" type="text">
              <div class="help-block">例如：admin@qq.com</div></td>
          </tr>
          <tr>
            <th>SMTP服务器：</th>
            <td><input class="common-text required form-control w30" id="smtp" name="smtp" value="{$info.smtp}" type="text">
              <div class="help-block">例如：smtp.qq.com</div></td>
          </tr>
          <tr>
            <th>SMTP端口号：</th>
            <td><input class="common-text required form-control w30" id="port" name="port"  value="{$info.port}" type="text">
              <div class="help-block">例如：25</div></td>
          </tr>
          <tr>
            <th>邮箱登录帐号：</th>
            <td><input class="common-text required form-control w30" id="accout" name="accout" value="{$info.accout}" type="text">
              <div class="help-block">例如:admin@qq.com</div></td>
          </tr>
            <tr>
            <th>邮箱密码：</th>
            <td><input class="common-text required form-control w30" id="password" name="password" value="{$info.password}" type="text">
            </td>
          </tr>
             <tr>
            <th>发件人名字：</th>
            <td><input class="common-text required form-control w30" id="fromusername" name="fromusername" value="{$info.fromusername}" type="text"></td>
          </tr>
          <tr>
            <th>状态：</th>
            <td><select name="status" class="form-control w30">
                <option value="1" <eq name="info['status']" value="1"> selected="selected" </eq> >开启</option>
                <option value="0"  <eq name="info['status']" value="0"> selected="selected" </eq>>关闭</option>
              </select></td>
          </tr>
          
           <tr>
            <th>邮件测试：</th>
            <td><input class="common-text required form-control w30" id="ceshi" name="ceshi" value="{$info.ceshi}" placeholder="请输入测试邮件地址" type="text"><input class="btn btn-primary btn6 mr10" value="测试" type="button" id="testemail" val="0"></td>
          </tr>
       
          <tr>
            <th></th>
            <td><input class="btn btn-primary btn6 mr10" id="submit" value="提交" type="submit" val="1" >
              <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button"></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
</div>
<script type="text/javascript">    
$(document).ready(function(){
	
	$("#testemail,#submit").click(function(){
		var val=$(this).attr("val");
		var from_name = $('#from_name').val();
		if(from_name.length<=0){
			layer.tips('邮箱地址地址不能为空', '#from_name',{tips: [2, '#337ab7']});
			return false;
		}
		var smtp = $('#smtp').val();
		if(smtp.length<=0){
			layer.tips('SMTP服务器不能为空', '#smtp',{tips: [2, '#337ab7']});
			return false;
		}
		var port = $('#port').val();
		if(port.length<=0){
			layer.tips('SMTP端口号不能为空', '#port',{tips: [2, '#337ab7']});
			return false;
		}
		var accout = $('#accout').val();
		if(accout.length<=0){
			layer.tips('邮箱登录帐号不能为空', '#accout',{tips: [2, '#337ab7']});
			return false;
		}
		var password = $('#password').val();
		if(password.length<=0){
			layer.tips('邮箱密码不能为空', '#password',{tips: [2, '#337ab7']});
			return false;
		}
		if(val==1){
			$("#ceshi").val('');
			return true;
		}else{
			if($("#ceshi").val().length<=0){
				layer.alert('请输入邮箱');
				return false;	
			}	
		}
		var loading=layer.msg('正在发送中', {icon: 16,time:20000});
		$.post("{:U('email')}",$("#playList").serialize(),function(data){
			layer.close(loading);
			if(data.status==1){
				 layer.msg(data.info, {icon: 1});	
			}else{
				layer.msg(data.info, {icon: 2});	
			}
			setTimeout("window.location.reload();",2000);

		});
		return false;
	});
});

</script>
</body>
</html>
