<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<include file="Common:jscss" />
<style type="text/css">
body {
	padding-bottom: 40px;
}
select {
	color:#000;
}
.sidebar-nav {
	padding: 9px 0;
}
 @media (max-width: 980px) {
/* Enable use of floated navbar text */
            .navbar-text.pull-right {
	float: none;
	padding-left: 5px;
	padding-right: 5px;
}
}
</style>
</head>
<body>
<include file="Common:position" />
<form method='post' id="form1" name="form1" action="{:U('groupEdit')}"  enctype="multipart/form-data"  class="form-inline  m10">
  <table class="table table-bordered table-hover definewidth m10">
    <tr>
      <th width="115">等级名称:</th>
      <td colspan="2"><input type="text" class="ipt4" name="name" value="{$info.name}"></td>
    </tr>
 
         <tr>
      <th width="115">购买积分:</th>
      <td colspan="2"><input type="text" class="ipt4" name="score" value="{$info.score}"></td>
    </tr>
        <tr>
      <th width="115">获得金币数:</th>
      <td colspan="2"><input type="text" class="ipt4" name="gold" value="{$info.gold}"></td>
    </tr>
      <tr>
      <th width="115">等级值:</th>
      <td colspan="2"><input type="text" class="ipt4" name="sortby" value="{$info.sortby}"> * 数值越小，等级越小，每个间隔值为10，0为最小等级(默认)</td>
    </tr>
      <tr>
      <th width="115">徽章选择:</th>
      <td width="162"><select name="badge_id" id="badge_id">
        <option value="">==请选择徽章==</option>
        <volist name="voList" id="vo">
        <option value="{$vo.id}" url="{$vo.url}" <if condition="$vo['id'] eq $info['badge_id']">selected</if>>{$vo.name}</option>
        </volist>
      </select>
      
      </td>
      <td width="392"><if condition="$info['badge_id']">
      <volist name="voList" id="vo">
      <if condition="$vo['id'] eq $info['badge_id']">
        <img src="{$vo.url}" id="showurl" />
        </if>
        </volist>
          <else />
        <img src="" id="showurl" style="display:none" />
        </if></td>
    </tr>
    <tr>
      <th>等级状态：</th>
      <td colspan="2"><select name="status">
         
          <option 
          <eq name="info.status" value="0" >selected</eq>
           value="0">启用
          </option>
           <option 
          <eq name="info.status" value="1" >selected</eq>
           value="1">禁用
          </option>
        </select></td>
    </tr>
    <tr>
      <th>描 述：</th>
      <td colspan="2"><textarea name="remark" style="width:400px; height:60px;">{$info.remark}</textarea></td>
    </tr>
    <tr>
      <td colspan="3">  <input type="hidden" name="id" value="{$info.id}" >
  <input type="submit" class="submit btn7" id="submit" value="提 交"></td>
    </tr>
  </table>

</form>

<script type="text/javascript">
$(function(){
	$("#badge_id").change(function(){
		if($(this).val()!=""){
			var url=$(this).find("option:selected").attr("url");
			$("#showurl").attr("src",url);
			$("#showurl").show();
		}else{
			$("#showurl").hide();
		}
	});	
})
</script>
