/*
KISSY CSS Reset
*/

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
   font-size: 14px;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 14px/1 "微软雅黑" Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}
h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var, i { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; color: #333; }
a:hover { text-decoration: none; color: #cca60e; }
/* 重置表单元素 */
input,select,textarea,button{outline:medium;}
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
input {vertical-align:middle;border: none; background: none;outline:none;}\n

/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; min-width: 320px;}
/*设置左右浮动*/
.fl{float: left;}
.fr{float: right;}
/*清楚浮动*/
.clearfix:after{visibility:hidden; display:block; font-size:0; content: " "; clear:both; height:0;}
.clearfix{*zoom:1;}
.mt20{ margin-top: 20px;}

/*网站头部样式*/

#header .top-bar{ background: #353535;  color: #fff; line-height: 40px; display: none;}
#header .top-a a{ float: left; padding: 0 10px; color: #fff;}
#header .top-a a:hover,#header .top-a a:active{ color: #fff; background: #000;}

#header .nav-box{ background: #272727; padding: 10px 0;}

#header .nav ul{ display: none;}
#header .nav i{ float: left; margin-left: 25px;}

.xs-nav{ height: 100%; background: #1a1a1a; position: fixed; right: -200px; top: 0; width: 200px; overflow: hidden; display: none;}
.xs-nav ul{ padding: 15px;}
.xs-nav a{ display: block; height: 40px; line-height: 40px; padding-left: 5px; color: #fff;}
.xs-nav a:active{ background: #000; color: #fff;}
.xs-nav li{    border-bottom: 1px solid #373a3d;}
#header .language-txt{background: #000;height: 40px; line-height: 40px; display: none;}
#header .language-txt a{color: #fff;display: inline-block; width: 49%; text-align: center;}
#header .language-txt a:active{ background: #000; color: #fff;}
#header .nav i img{ width: 26px; height: auto;}
#header img.logo{ margin: 10px; height: 70px;}
 .top-ban {width: 100%;height: 100%;}
 .swiper-slide{text-align: center;font-size: 18px;background: #fff; display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;
        -webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;
    }    
.swiper-slide img{ max-width: 100%;height: auto;}
#header .nav ul li{float: left;height: 95px; line-height: 95px;}
#header .nav ul li a{ display: block; padding: 0 8px; color: #fff;}
#header .nav ul li a:hover,#header .nav ul li a:active,#header .nav ul li.active a{background: #ffcd11; color: #1a1a1a;}





@media (min-width: 768px) {
	#header .top-bar{ display: block;}
	#header .nav-box{border-bottom: 5px solid #ffcd11; padding: 0;}
	#header .nav ul{ display: block;}

	#header .nav i{ display: none;}
	#header .language-txt{ display: none;}
	.container{ padding: 0;}
}
@media (min-width: 992px) {
	.container{ padding: 0 15px;}
	#header .nav ul li a{  padding: 0 20px;}
	
}
@media (min-width:1200px) {
	
}
@media only screen and ( max-width:768px ) {
	.container{ padding: 0 10px;}
	#header img.logo{ height: 30px; margin: 0;}	
}

/*网站头部样式 结束*/

/*首页-最新产品区域*/

.title-01{ text-align: center; padding-top: 30px;}
.title-01 h2{color: #2e2949; font-size: 20px; margin-bottom: 10px;}
.title-01 h3{font-size: 14px; color: #999;}
#sy-cplist{ padding: 30PX 0; text-align: center;}
.sy-cpbox p{ height: 30px; margin-top: 10px; overflow: hidden; line-height: 30px;}
.sy-cpbox .cp-img img{ width: 100%; height: auto; max-width: 100%;}
.swiper-container-horizontal>.swiper-pagination{ bottom: 15px;}
a.cp-gd{  display:block;*zoom:1; line-height:34px; text-align: center; width: 110px; margin: 0 auto; border:1px solid #ffcc12; background-color:#ffcc12; color:#333;}

/*首页-最新产品结束*/

/*首页-关于我们*/
.box2{ background: #f2f2f2; margin-top: 20px;}
.box2 .sy-about{ padding: 20px 0;}
.box2 .about-img{ max-width: 100%;}
.box2 .about-txt{ padding-top: 10px; line-height: 1.8;}
.box2 a.cp-gd{  display:block;*zoom:1; line-height:34px; text-align: center; width: 110px; margin: 0 auto; border:1px solid #ffcc12; background-color:#ffcc12; color:#333;}
.box2 .title-01{ text-align: center; padding-top: 30px;}
.box2 .title-01 h2{color: #2e2949; font-size: 20px; margin-bottom: 10px;}
.box2 .title-01 h3{font-size: 14px; color: #999;}
@media (min-width: 768px) {
	.about-img{float: left; margin-right: 20px; width: 50%; line-height: 2;}

}
@media only screen and ( max-width:768px ) {
	.box2 .about-img{  width: 100%;}
}

/*首页-关于我们结束*/

/*首页-新闻资讯*/
.sy-newsbox{ padding: 20px 0;}
.sy-newsbox .sy-n-img{ float: left; margin-right: 10px;}
.sy-newsbox .sy-n-txt{ line-height: 1.2;}
.sy-newsbox .sy-n-txt h2{ line-height: 1.4; max-height: 40px; margin-bottom: 7px; overflow: hidden;}

.sy-newsbox li{ height: 80px; margin-bottom: 15px; overflow: hidden;}
.sy-newsbox .sy-n-img img{ max-width: 110px;max-height: 80px;}	
.sy-newsbox .sy-n-txt p{ max-height: 33px; overflow: hidden;}


@media (min-width: 768px) {
	.sy-newsbox .sy-n-img img{width: 100%; max-width: 165px; max-height: 120px;}
	.sy-newsbox .sy-n-txt p{max-height: 65px; line-height: 1.6;}
	.sy-newsbox li{ height: 120px;}
	.sy-newsbox .sy-n-txt h2{ line-height: 1.6; max-height: 45px; }
}


/*首页-新闻资讯结束*/

/*网页底部*/

#footer{ overflow:hidden; background-color:#202427; color:#999; border-top:4px solid #ffcd11; width:100%; }
#footer .b-navbox{ padding: 20px 0; display: none;}
#footer .b-nav li{ float: left; width: 20%; color: #fff; margin-left: 5%;}
#footer .b-nav { width: 100%;}
#footer .b-nav li a{ display: block; color: #999; line-height: 30px;}
#footer .b-nav li h2{ height: 40px; line-height: 40px;}
#footer .b-nav li a:hover,#footer .b-nav li a:active{ color: #ffcd11;}
#footer .rmw{ display: none; text-align: center; line-height: 40px; color: #999;}
#footer .rmw img{ width: 150px;}
#footer .copy{background: #111619; line-height: 45px; color: #999;}
#footer .copy a{ display: inline-block; margin: 0 5px; padding: 0 10px;color: #999;}
#footer .copy a:hover,#footer .copy a:active{ background: #202427; color: #999;}
@media (min-width: 768px) {
	#footer .b-navbox{ display: block;}
}

@media (min-width: 992px) {
	#footer .b-nav { width: 80%;}
	#footer .rmw{ display: block;}
}
@media only screen and ( max-width:480px ) {
	#footer .copy div.fr{ display: none;}
}

/*网页底部-结束*/


/*列表页面与内页通用样式*/
.r-list{ padding-bottom: 30px;}
.r-list .mpx-box{ border-bottom: 1px #e5e5e5 solid; margin-bottom: 20px; line-height: 40px; height: 40px; overflow: hidden;}
.r-list .mpx-box h2{ line-height: 40px;}
.r-list .wz{ float: right;}
.ab-ban img{ width: 100%; height: auto;}
.l-list .l-title{ background: #333; padding:15px 0 15px 15px; line-height:normal; color:#ffce12; font-size:18px; font-weight:normal;}
.l-list .l-sub{ background: #f2f2f2;}
.l-list .l-sub li{ height: 45px; line-height: 45px;}
.l-list .l-sub a{ display: block; color: #808080; padding-left: 15px; border-left: 2px #F2F2F2 solid;}
.l-list .l-sub a:hover,.l-list .l-sub a:active,.l-list .l-sub li.active a{ border-left: 2px solid #ffcd11; color: #cca60e;}
.l-list .l-sub li.active a{background: #fff; border-left: 2px solid #ffcd11; color: #cca60e;}

@media only screen and ( max-width:768px ) {
	.r-list .mpx-box h2{ float: none; text-align: center; font-weight: bold;}
}


/*关于我们*/
.r-list .ab-txt{ line-height: 1.8;}


/*关于我们 结束*/



/*产品列表*/
.cp-list .pic-img img{ width: 100%; height: auto; overflow: hidden;}
.cp-list li{ text-align: center; margin-bottom: 10px;}
.cp-list p{ line-height: 40px; height: 40px; overflow: hidden; padding-top: 5px;}
/*产品列表 结束*/


/*产品列表-详细;*/

.cp-xqbox img{ max-width: 100%; height: auto; }
.cp-xqbox .cp-tt{ margin-top: 10px;text-align: center;padding: 10px 20px;}
.cp-xqbox .cp-txt{ line-height: 2; padding-top: 10px 0 ;}

/*产品列表-详细 结束*/


/*服务网点;*/
.ffwd-box{}
.ffwd-box .ffwd-title{ padding: 5px 0;    margin-bottom: 20px;border-bottom: 1px solid #d6d6d6;}
.ffwd-box .ffwd-title h2{font-size: 22px; color: #ee330a; line-height: 40px;}
.ffwd-box li{ line-height: 30px; margin-bottom: 15px;}
/*服务网点 结束*/

/*下载中心;*/
.xz-list li{ height: 40px; line-height: 40px; overflow: hidden; display: block;    border-bottom: 1px solid #e5e5e5;}
/*下载中心 结束*/


/*新闻中心*/
.news-list li{border-bottom: 1px dotted #d9d9d9; margin-bottom: 15px; padding-bottom: 15px; }
.news-list .news-img{ margin-right: 10px;}
.news-list .news-img img{ max-width: 110px;}
.news-list h2 a{ display: block; font-size: 14px; line-height:1.5;max-height: 42px; overflow: hidden;}
.news-list p{ line-height: 1.4; height: 32px; overflow: hidden; font-size: 12px; margin-top: 5px;}
@media (min-width: 768px) {
	.news-list h2 a{ font-size: 16px; line-height: 2.2;height: auto;}
	.news-list li p{ line-height: 1.8; height: auto; font-size: 14px;}
	.news-list .news-img img{ max-width: 160px; height: auto;}
	.news-list .news-img{ margin-right: 20px;}
	.news-list li{border-bottom: 1px dotted #d9d9d9; margin-bottom: 20px; padding-bottom: 20px; }
}

@media only screen and ( min-width:400px ) {
	.news-list h2 a{ font-size: 15px; line-height:1.8; max-height: 54px;}
	.news-list li p{ line-height: 1.6; height: 60px; font-size: 13px;}
	.news-list .news-img img{ max-width: 160px; height: auto;}
	.news-list .news-img{ margin-right: 20px;}
}


/*新闻中心 结束*/


/*新闻中心-详细*/
.news-t{ text-align: center;}
.news-t h1{ line-height: 30px;}
.news-t .info{ font-size: 12px; color: #999; }
.nr-txt{ line-height: 1.8;  padding: 20px 0;}

@media only screen and ( max-width:768px ) {
	.news-t h1{  font-size: 18px;}
}


/*新闻中心-结束*/

/*人才理念*/
.nr-txt{ line-height: 1.8;  padding: 20px 0;}

/*人才理念 结束*/

/*人才招聘*/
.job-list{border-bottom: 1px dotted #d9d9d9; margin-bottom: 15px; padding-bottom: 15px;}
.job-list dt{ padding-bottom: 8px; font-size: 16px;}
.job-list dd{ line-height: 1.8;}

/*人才招聘 结束*/

/*联系我们*/
.lxwm-txt{ line-height:2; padding-bottom: 20px;}
.map-box{ margin-top: 15px;}
.map-box img{ max-width: 100%;}

@media only screen and ( max-width:600px ) {
	.lxwm-txt h1.h3{  font-size: 20px;}
}

/*联系我们 结束*/
.article-header{margin-bottom:1px;padding:2px 20px 12px;background-color:#fbfbfb;   text-align: center;}
.article-header .muted{ font-size:13px; margin:15px 5px;}
.article-title a{color: #444;}
.article-content{font-size:14px;line-height:25px;word-break:break-all;word-wrap:break-word;padding-bottom:5px;line-height:2;}
.article-content h3,.article-content h4， .article-content h5{border-bottom:#eee 1px solid;padding-bottom:5px;margin-bottom:20px}
.article-content h2{font-size:18px;font-weight:normal;margin:20px -20px 20px -24px;padding:10px 20px 9px 20px;line-height:18px;border-left:4px solid #428BCA;background-color:#fbfbfb}
.article-content h3{font-size:16px}
.article-content h4{font-size:14px}
.article-content h5{font-size:12px}
.article-content ul{margin:10px 0 16px 0px}
.article-content ol{margin:16px}
.article-content ul li{padding-left:20px;margin-bottom:10px;*list-style:disc;*padding-left:0;line-height:25px}
.article-content ol li{list-style:decimal;margin-left:28px;line-height:25px}
.article-content p{margin-bottom:10px}
.article-content pre{word-break:break-all;word-wrap:break-word}
.article-content table{border-top:solid 1px #ddd;border-left:solid 1px #ddd;width:100%;margin-bottom:16px}
.article-content table th{background-color:#f9f9f9;text-align:center}
.article-content table td,.article-content table th{border-bottom:solid 1px #ddd;border-right:solid 1px #ddd;padding:5px 10px}
.article-content .alignleft{float:left;text-align:left;margin-right:10px}
.article-content .aligncenter{margin: 0 auto;text-align: center;display: block;}
.article-content .alignright{float:right;text-align:right;margin-left:10px}
.article-content a{color:#428bca;text-decoration:underline}
.article-content a:hover{color:#D9534F}

.article-nav{border-top:1px solid #f2f2f2;background-color:#FBFBFB;overflow:hidden;padding:15px 20px;font-size:14px;color:#bbb}
.article-nav span{float:left;position:relative}
.article-nav span.article-nav-next{float:right;text-align:right}

.newlist {  width: 100%;  float: left;  margin:0px 0px 15px 0px;  background: #FFFFFF;  padding-bottom: 10px;}
.newlist .title {  line-height: 30px;  height: 30px;  font-size: 16px;  font-weight: bold;  color: #000000;  margin-bottom: 10px;  border-bottom: 1px solid #d0d0d0;  margin: 5px 10px;}
.newlist .flink {  width: 100%;  float: left;  margin-top: 5px;}
.newlist .flink li {  float: left;  line-height: 25px;  margin: 0px 5px;  font-size: 12px;}
.w30 {  width: 30%;  display: inline-block;  margin-right: 10px;  vertical-align: middle;}
.error{ color:#FF0000;}
.table>tbody>tr>td{ border-top:0;}

.img_info{ position:relative;  display:none; overflow:hidden; margin-top:5px;}
.img_info .imgdel,.images_info .imgdel{background: url(/Public/uploadify/img/icons.png)  no-repeat right top;    width: 20px;    height: 20px;    position: absolute;    right:10px;    top: 10px;    cursor: pointer;}

.images_info{ width:100%; float:left; margin-top:5px; position:relative;}
.images_info .images_list,.images_info .files_list{ float:left; width:180px; height:240px; margin-right:5px; overflow:hidden; position:relative;}
.images_info .images_list .fancybox,.images_info .files_list .fancybox{width:180px; height:160px;}
.images_info .images_list input{ margin-bottom:5px;}
.image_list{ position:relative; width:160px;}
.image_list img { width:160px; height:160px;}

.file_list{ position:relative; width:160px;}
.file_list img { width:160px; height:160px;}


.box {margin: 50px auto;position: relative;width: 100%;height: 100%;display: inline-block;}
.login-box {	width: 100%;	max-width:500px;	  margin: 0 auto;/*设置负值，为要定位子盒子的一半高度 height: 400px; */	}
.form {	width: 100%;	max-width:500px;	 	margin: 25px auto 0px auto;	padding-top: 25px; padding-bottom:25px; display:inline-block;}	
.login-content {	width: 100%;	max-width:500px;background-color: #ececec;	float: left;}		
.input-group {	margin: 0px 0px 30px 0px !important;}
.form-control,.input-group {	height: 40px;}
.form-group {	margin-bottom: 0px !important;}
.login-title {	padding: 20px 10px;	background-color: #353535;}
.login-title h1 {	margin-top: 10px !important;}
.login-title small {	color: #fff; font-size:18px;}
.link p {	line-height: 20px;	margin-top: 30px;}
.link p a{ color: #337ab7;}
.btn-sm {	padding: 8px 24px !important;	font-size: 16px !important;}
.m15{ margin-bottom:15px !important;}
.form-horizontal .form-group{ margin-left:0; margin-right:0;}

/*会员中心*/
.widget{clear:both;margin-bottom:10px;background-color:#fff}
.widget h3{position:relative;margin:0;padding: 10px;font-size:15px;background-color:#F7F7F7;border-bottom: 1px solid #eaeaea;font-weight: normal;}
.widget h3 .btn{position:absolute;top:6px;right:10px;font-weight:normal;padding: 2px 7px 1px;  font-size: 12px;}
.widget-notip{line-height:20px;color:#666;border-top-color:#f00}
.widget ul{*zoom:1}
.widget ul:before,.widget ul:after{display:table;content:"";line-height:0}
.widget ul:after{clear:both}

.d_postlist li a{border-bottom:solid 1px #eee;border-left:3px solid transparent; overflow:hidden;position:relative;display:block;font-size:14px}
.d_postlist li a:hover{background-color:#F8FCFE;border-left-color:#428bca}
.d_postlist .nopic li a{padding: 10px 15px; text-decoration:none;}
.d_postlist .nopic .text{margin-top:0;}

.breadcrumbs{margin: 0 0 1px;padding: 9px 20px 7px;background-color:#f7f7f7;}
.breadcrumbs small{font-size: 12px;font-family: serif;color: #bbb;margin: 0 2px;font-weight: bold;}

.user_content{border: solid 1px #eee; margin-bottom:20px;}
.user_info{ padding:10px;}
.user_info .col-1{ margin-bottom:25px;}
.col-1 h5{  padding-left: 10px;  color: #386EA8;  line-height: 30px;  font-size: 14px;}
.col-1 .col-left {  float: left;  width: 88px;  text-align: center;}
.col-1 .content_info {  border: 1px solid #eee;  overflow: hidden;  zoom: 1;  padding: 4px; font-size:12px;}
.col-1 .col-auto{ float:left; padding:10px 0px; line-height:35px;}
.table_form tbody td, .table_form tbody th {  border-bottom: 1px solid #eee;}
.table_form td, .table_form th {  padding: 8px 0 5px 8px;  line-height: 22px;}


.order_list{ width:100%; display:inline-block; text-align:left; margin:0px; font-size:12px}
.order_list  ul li{ width:100%; display:inline-block; margin-bottom:10px;}
.order_list .order{ background:#e1e1e1; color:#333; padding:15px 10px; width:100%;}
.order_list .order .l{ width:70%; display:inline-block; text-align:left;}
.order_list .order .l span{ width:30%; display:inline-block;}
.order_list .order .r{ width:25%; display:inline-block; text-align:right;}
.order_list .con{ width:100%; display:inline-block; padding:10px 10px 0px 10px; border-bottom:1px #f5f5f5 solid;}
.order_list .con .img{ width:8%; display:inline-block; position:relative; height:60px; overflow:hidden;}
.order_list .con .img img{ width:100%;}
.order_list .con .desc{ width:55%; display:inline-block; vertical-align:top; margin-left:5px; position:relative; min-height:80px;}
.order_list .con .desc .tit{ font-size:14px; width:100%; position:absolute; left:0; top:0; line-height:20px;}
.order_list .con .desc .tit .p-extra{ font-size:10px;}

.order_list .con  .bot{ width:30%; vertical-align:top; display:inline-block; margin-top:10px; } 
.order_list .con  .bot .desc_l{ width:75%; display:inline-block ; font-weight:100; font-size:12px;}
.order_list .con  .bot .desc_r{ width:20%; display:inline-block; text-align:center; font-size:12px ; color:#ff6600;}
.order_list .bottom{ width:100%; display:inline-block; padding:15px 10px; font-size:14px; }
.order_list .bottom .bottom_l{ width:45%; text-align:left; display:inline-block;}
.order_list .bottom .bottom_l a.detail{ color:#005ea7; display:inline-block; margin-left:5%}
.order_list .bottom .bottom_l b,.order_list .bottom .bottom_r b{  color:#ff6600;}

.order_list .bottom .bottom_r span{ display:inline-block; float:left;}
.order_list .bottom .bottom_r .pay{ float:right;}
.order_list .bottom .bottom_r .pay .pay_now{  background: #e00; margin-right:10px; color: #fff;  text-align: center;  font-size: 12px;
  font-weight: bold;  border-radius: 3px;  cursor: pointer; padding:5px 10px;}
.order_list .bottom .bottom_r .pay .cancel_order{ color:#aaa; font-size:10px; vertical-align:bottom;}
.order_list .bottom .bottom_r .pay a.cancel_order:hover{ color:#F00; text-decoration:underline;}
.order_list .bottom .bottom_r{ width:53%; text-align:left; display:inline-block; float:right;}
.order_list .bottom .bottom_r a{ color:#ff6600;}

/*个人资料*/
.person{ width:100%;}
.person ul li{  width:100%; margin:12px 0px; display:inline-block; text-align:left;}
.person ul li span{ width:20%; text-align:right; vertical-align:top; margin-right:15px; display:inline-block; font-size:14px}
.person ul li div{ width:70%; display:inline-block;}
.person ul li .litpic{ display:inline-block; vertical-align:top;}
.person ul li label{ cursor:pointer;vertical-align: top; font-size:14px; margin-left:2px;}
.person ul li select { height:30px; line-height:30px; display:inline-block}
.litpic .portrait1{ width:130px; height:130px;border: #eee 1px solid;}
.litpic .img_desc{ width:50%; color:#616161; font-size:14px; line-height:25px; float:left; margin-left:15px;}
.litpic .change_portrait{margin-bottom:15px; color:#ff6600; width:100%; display:inline-block;}
.fleft{ float:left;}
.litpic .change_portrait_font{ display:inline-block; width:100%; font-size:12px;}
.person input[type="text"],.person input[type="password"]{border: 0;height: 40px; line-height:40px; font-size:14px;margin-top: 3px; padding-left:10px;background-color: #FFF!important;border: 1px solid #D4D4D4; width:85%}

/*购物车*/
.success_box{ width:100%; background: #f5f5f5; float:left; padding-bottom:35px;}
.success-top {position: relative;margin: 20px 0;}
.success-top h3 {font-size: 18px;line-height: 25px;font-weight: 400;color: #71b247;}
.p-info {float: left;width: 50%;margin: 0;}
.p-img {float: left;width: 60px;margin-right: 10px;border: 1px solid #e8e8e8;}
.p-name {width: 100%;line-height: 28px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 14px;}
.p-extra {display: inline-block;display: block;color: #aaa;}
.success-btns{ display: inline-block; text-align:right; vertical-align:bottom; margin-top:90px;}
.success-btns a.btn-tobback:hover{ border:#e4393c 1px solid;color: #e4393c;}
.btn-tobback {padding: 0 30px;margin-right: 10px;background: #fff;color: #e4393c;border: 1px solid #fff;}
.success-btns a.btn-addtocart:hover{ border:#e4393c 1px solid;color: #fff;}
.btn-addtocart {position: relative; background: #e4393c;border: 1px solid #e4393c;color: #fff; text-align:center;}
.btn-viewcart {display: inline-block;height: 34px;line-height: 36px;font-size: 16px;vertical-align: middle;  padding: 0 10px;}

/*我的购物车列表*/
.nologin-tip {border: 1px solid #edd28b;background: #fffdee;padding: 10px 20px;line-height: 25px;margin-bottom: 20px;color: #f70; text-align:center;}
.btn-1 {
font-family: arial,"Microsoft YaHei";
display: inline-block;
height: 25px;
line-height: 25px;
background-color: #e74649;
background-image: -moz-linear-gradient(top,#e74649,#df3134);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#e74649),color-stop(1,#df3134));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e74649', endColorstr='#df3134', GradientType='0');
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e74649', endColorstr='#df3134');
background-image: linear-gradient(to top,#e74649 0,#df3134 100%);
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
color: #fff;
font-size: 12px;
font-weight: 400;
padding: 0 10px;
vertical-align: middle;
cursor: pointer;
border: 0;
float: none;
-webkit-transition: all .2s ease-out;
-moz-transition: all .2s ease-out;
transition: all .2s ease-out;
}
.btn-1:hover {
color: #fff;
text-decoration: none;
background-color: #f05356;
background-image: -moz-linear-gradient(top,#f05356,#eb3c3f);
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f05356),color-stop(1,#eb3c3f));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f05356', endColorstr='#eb3c3f', GradientType='0');
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f05356', endColorstr='#eb3c3f');
background-image: linear-gradient(to top,#f05356 0,#eb3c3f 100%);
}
.p-item{  width: 100%;  float: left;  margin-bottom: 10px;}
.w { width:100%; display:inline-block;}
.cart-filter-bar {margin: 10px 0px;display:inline-block;}
.cart-filter-bar .switch-cart {float: left;position: relative;height: 26px;overflow: hidden;}
.cart-filter-bar .switch-cart li.curr a {color: #e4393c;}
.cart-filter-bar .switch-cart li {float: left;position: relative;font-weight: 700;font-size: 16px;height: 26px;line-height: 26px;text-align: center;padding: 0 0 10px;cursor: pointer;margin: 5px 30px 0 0;}
.cart-filter-bar .switch-cart li .number {font-family: verdana;font-size: 14px;}

.cart-toolbar {height: 50px;border: 1px solid #f0f0f0;background: #fff;position: relative;}
.toolbar-wrap {position: relative; margin:0px 15px;}
.toolbar-wrap .selected-item-list {position: absolute;z-index: 10;top: -122px;left: 0;height: 122px;}
.toolbar-wrap .options-box {position: relative;height: 50px;}
.toolbar-wrap .select-all {float: left;height: 18px;line-height: 18px;padding: 16px 0 16px 9px;white-space: nowrap;}
.cart-checkbox {position: relative;z-index: 3;float: left;margin-right: 5px;}
.toolbar-wrap .operation {float: left;height: 50px;width: 310px;line-height: 50px;}
.toolbar-wrap .operation a {float: left;margin-left: 20px;color: #666;}
.toolbar-wrap .toolbar-right {position: absolute;height: 52px;right: 0;top: -1px;width: 610px;}
.toolbar-wrap .toolbar-right .normal {height: 52px;}
.toolbar-wrap .toolbar-right{position:absolute;height:52px;right:0;top:-1px;width:610px}
.toolbar-wrap .toolbar-right .combine{display:none}
.toolbar-wrap .toolbar-right .combine .int-right{float:left;width:336px}
.toolbar-wrap .toolbar-right .combine .comm-right{float:right;width:650px}
.toolbar-wrap .toolbar-right .normal{height:52px}
.toolbar-wrap .toolbar-right .normal .comm-right{float:right;width:750px}
.toolbar-wrap .amount-sum{float:right;color:#999;height:44px;line-height:20px;margin:7px 0 0;cursor:pointer}
.toolbar-wrap .amount-sum em{color:#e4393c;font-family:verdana;font-weight:700;margin:0 3px}
.toolbar-wrap .amount-sum b{display:inline-block;width:9px;height:5px;background:url(//misc.360buyimg.com/user/cart/css/i/cart-icons-new.png) -45px -91px;overflow:hidden;vertical-align:middle;margin:-5px 0 0 5px;-webkit-transition:all .2s ease-in 0s;-moz-transition:all .2s ease-in 0s;transition:all .2s ease-in 0s}
.toolbar-wrap .amount-sum b.up{background-position:-45px -91px}
.toolbar-wrap .amount-sum b.down{background-position:-45px -95px;-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);transform:rotate(360deg)}
.toolbar-wrap .price-sum{float:right;height:43px;line-height:20px;margin:7px 20px 0 10px;color:#666;width:auto}
.toolbar-wrap .price-sum .txt{float:left;text-align:right;color:#999}
.toolbar-wrap .price-sum .price{display:inline-block;text-align:right;font-family:verdana}
.toolbar-wrap .price-sum .price em{font-size:16px;color:#e4393c;font-weight:700}
.toolbar-wrap .price-sum div{white-space:nowrap}
.toolbar-wrap .btn-area{float:right}
.toolbar-wrap .submit-btn{display:block;position:relative;height:52px;line-height:52px;color:#fff;text-align:center;font-size:18px;font-family:"Microsoft YaHei";background:#e54346;overflow:hidden; padding:0 10px;}
.toolbar-wrap .submit-btn b{display:block;position:absolute;width:96px;height:52px;top:0;left:0;overflow:hidden;}
.table-hover th{background-color:#f5f5f5}
.table>tbody>tr>td{ vertical-align:middle;}

.decrement{ float:left; text-align:center; border-left:1px #ccc solid; border-bottom:1px #ccc solid; border-top:1px #ccc solid; height:30px; width:30px; line-height:30px;}
.input_form{ border-radius:0; float:left; height:30px;}
.increment{ float:left; border-right:1px #ccc solid; border-bottom:1px #ccc solid; border-top:1px #ccc solid;width:30px;height:30px; text-align:center; line-height:30px;}

.order_step{width:80%;height:32px;margin: 20px auto;line-height:32px; text-align:center}
.order_step li{float:left;width:33%;height:32px;font-size:14px;font-weight:bold;color:#ccc;background:#ffe8d7 url(../img/sprites_2.gif) right -492px no-repeat;padding:0 29px 0 0;overflow:hidden}
.order_step li span{display:block}
.order_step li .first{background:url(../img/sprites_2.gif) 0 -556px no-repeat}
.order_step li.last{background-position:right -620px}
.order_step li.current{color:#fff;background-color:#ed6807;background-position:right -492px}
.order_step li.current .first{background-position:0 -588px}
.order_step li.current_prev {background-position:right -524px}
.order_step li.last_current {background-color:#ed6807;color:#fff;background-position:right -652px}
 
/*支付页面*/
.checkout-tit {height: 42px;    line-height: 42px;    font-size: 16px;    font-family: "Microsoft YaHei";    overflow: hidden; color: #666;}
.checkout-steps {    background-color: #fff;    padding: 20px;    border: 1px solid #f0f0f0;}
/*物流信息填写*/
.affirm_wrap{ margin-top:20px}
.affirm_wrap .title{ font-size:14px; font-weight:bold; color:#333333}
.mt40{ margin-top:40px}
.mt20{ margin-top:20px}

.alipay{ margin:10px 0 0 70px}
.submit_order_{ padding:15px 35px; background:#f4f4f4; /* width:1091px; */ margin-top:25px; text-align:right; font-size:18px; color:#333333}
.submit_order_ .smit{ background:#e00; height:37px; line-height:37px; color:#fff; text-align:center; font-size:18px; font-weight:bold; border-radius:3px; cursor:pointer; margin-left:18px; padding:0 10px;}
.submit_order_ .smit:hover{ background:#e00}
.submit_order_ span{ font-size:24px; color:#e00; font-weight:bold}
.hand_details{ margin-top:20px; padding-bottom:40px;}
.hand_details .title{ margin-bottom:20px;}

/*收货人信息*/
.fleft{ float:left;}
.fright{ float:right}
.NewConsignee{color: #005ea7;}
#consignee_list{padding: 20px 0 40px 20px}
#consignee_list>li{position: relative; font-size:14px;}
#consignee_list>li label{ font-weight:100;}
#consignee_list .first{color: #e00;margin-right: 5px;position: absolute;top: 10px; left: 10px}
#consignee_list>li.select .first{display: block;}
#consignee_list .first b{position: relative;top: -5px}
#consignee_list .first span{display: inline-block; width:14px; height:21px;margin-right: 5px}
#consignee_list>li{padding:10px;/*border: 1px solid #f2f2f2*/}
#consignee_list>li:hover{background: #f9e5ff}
#consignee_list>li>div{float: left;}
#consignee_list>li.select .sec{font-size: 14px;color: #333;font-weight: bold;}
#consignee_list .sec{margin-left: 70px}
#consignee_list .sec .address_info{ display:inline-block; vertical-align:bottom;}
#consignee_list .third{float: right;display: none; font-size:12px;}
#consignee_list .third a{margin-right: 10px;color: #005ea7}
#consignee_list .third a:hover{text-decoration: underline;}
#consignee_list>li:hover .third{display: block;}
#consignee_list>li.select{border: 1px solid #f2f2f2;background: #f9e5ff}
#consignee_list .default_address{color: red;margin-right: 10px}
/*/收货人信息*/
.hr {    border-bottom: 1px solid #e6e6e6;    height: 0;    margin-bottom: 10px;}
.list-cont ul {    display: inline-block;    display: block;}
.list-cont li {    float: left;    margin-right: 9px;    _display: inline;    cursor: default; display:inline-block}
.list-cont .payment-item {    float: left;    position: relative;    border: 1px solid #ddd;     padding: 5px 24px;    cursor: pointer;}
.list-cont .payment-item.item-selected {    border: 2px solid #e4393c;    padding: 4px 23px;}
.selt {    line-height: 18px;    border: 1px solid #ccc;    padding: 5px;    vertical-align: middle;    float: left; width:50%; height:35px;}
.add_address{ font-size:12px; width:100%;}
.noshop{ text-align:center; margin:100px 0px;  display: inline-block;  width: 100%; font-size:16px}


.add_address .left{width: 20%;text-align: right;color: #666; float:left;}
.add_address>ul>li{/*height: 28px;*/line-height: 28px;margin-bottom: 15px; width:100%;  float: left;}
.add_address>ul>li .input{height: 28px;border: 1px solid #dddddd;background: #fff;text-indent: 5px;line-height: 28px; width:250px;}

/*分页*/
.news_page{ margin-left:8px;border-top: 1px dashed #d7d7d7;}
.news_page a,.news_page span{ display:block; padding:5px 10px; float:left; font-size:16px;border:1px solid #ff6600; margin-right:7px; margin-top:10px;*margin-top:19px }
.news_page a{ color:#ff6600}
.news_page span{ color:#ff6600}
.news_page li.active a ,.news_page a:hover{ background:#ff6600; color:#fff}
/*/分页*/
.order_show_total .pay{ float:right; padding:10px 0px;}
.order_show_total .pay .pay_now{  background: #e00; margin-right:10px; color: #fff;  text-align: center;  font-size: 12px;
  font-weight: bold;  border-radius: 3px;  cursor: pointer; padding:5px 10px;}
.order_show_total .pay .cancel_order{ color:#aaa; font-size:10px; vertical-align:bottom;}
.order_show_total .pay a.cancel_order:hover{ color:#F00; text-decoration:underline;}