<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>添加修改友情链接</title>
<include file="Common:jscss" />
</head>
<body>
<div class="container-fluid"> 
<include file="Common:position" />
<div id="main" class="main" >
  <if condition="$info['return_status'] eq 2">
<div class="alert alert-success alert-dismissible" role="alert" style="    display: inline-block;    width: 100%; text-align:center">
  <strong>提示!</strong> "链接提交成功,请耐心等待审核"
</div>
<elseif condition="$info and $info['return_status'] eq 0" />
<div class="alert alert-danger alert-dismissible" role="alert" style="    display: inline-block;    width: 100%; text-align:center">
  <strong>提示!</strong> 链接申请失败：{$info.content},可重新申请
</div>
<elseif condition="$info and $info['return_status'] eq 1" />
<div class="alert alert-success alert-dismissible" role="alert" style="    display: inline-block;    width: 100%; text-align:center">
  <strong>提示!</strong> 链接已申请成功,可发布到前台,
  <if condition="$info['is_release'] eq 1">
 <a  href="javascript:void(0)" class="alert-link">已发布</a> <a href="javascript:void(0)" class="alert-link" id="send_public" style="color:#337ab7">,立即关闭</a>
  <else />
  <a href="javascript:void(0)" class="alert-link" id="send_public" style="color:#337ab7">立即发布</a>
  </if>
 <?php
  	if (! empty ( $info ['end_time'] )) {
    	$time=time();
        $seven_data = $info ['end_time'] - 604800;
        if ($time > $info ['end_time']) {
            echo "<span style='color:#F00'>(已过期)</span>";
        } elseif ($time > $seven_data) {
        	 echo "<span style='color:#F00'>(即将过期[".date('Y-m-d H:i:s',$info ['end_time'])."],请联系供应商)</span>";
        }
    }
 ?>
</div>
</if>
  <div class="content">
    <form action="{:U($method)}" method="post" enctype="multipart/form-data" name="form2" id="playList">
      <input name="linkId" type="hidden" value="{$info.linkId}">
      <input name="token" type="hidden" value="{$info.token}">
      <input name="return_status" type="hidden" value="{$info.return_status}">
      <table class="table table-bordered table-hover definewidth m10" style="font-size:12px">
  	<tr bgcolor="#FFFFFF">
          <th width="100"> 网站类型： </th>
          <td colspan="5"  class="tLeft"> <select name="typeid" id="typeid" class="form-control w30">
          <option value="0">顶级分类</option>
          <volist name="category_list" id="vo">
            <option value="{$vo.id}" <eq name="vo['id']" value="$info['typeid']">selected</eq> >{$vo.fullname}</option>
          </volist>
        </select></td>
        </tr>
        
        <tr bgcolor="#FFFFFF">
          <th width="100"> 网站名称： </th>
          <td colspan="5"  class="tLeft"><input name="name" type="text" id="name" class="form-control w30" 
          <empty name="info['name']">value="{$Think.config.SITE_NAME}"<else /> value="{$info.name}"</empty> >
            &nbsp;<span class="tip"></span></td>
        </tr>
        <tr  bgcolor="#FFFFFF">
          <th> 网站URL地址： </th>
          <td colspan="5" style="text-align:left;">
            <input name="siteurl" type="text" id="siteurl" readonly class="form-control w30" placeholder="http://"  <empty name="info['siteurl']">value="{$Think.config.SITE_URL}"<else /> value="{$info.siteurl}"</empty> >
            <div class="help-block">例如：http://www.baidu.com,需要加上http://或者https://</div>
           </td>
        </tr>
         

    <tr  bgcolor="#FFFFFF">
          <th> 联系人： </th>
          <td colspan="5" style="text-align:left;">
            <input name="contact_us" type="text" id="contact_us" class="form-control w30" value="{$info.contact_us}" >
            <div class="help-block">网站负责人姓名</div></td>
        </tr>
        
          <tr  bgcolor="#FFFFFF">
          <th> 联系人QQ： </th>
          <td colspan="5" style="text-align:left;"><span class="tLeft">
            <input name="contact_qq" type="text" id="contact_qq" class="form-control w30" value="{$info.contact_qq}" >
            </span></td>
        </tr>
        
          <tr  bgcolor="#FFFFFF">
          <th> 联系电话： </th>
          <td colspan="5" style="text-align:left;">
            <input name="contact_tel" type="text" id="contact_tel" class="form-control w30" value="{$info.contact_tel}" > <div class="help-block">手机/固话</div>
          </td>
        </tr>
      <tr  bgcolor="#FFFFFF">
          <th> 申请备注说明： </th>
          <td colspan="5" style="text-align:left;">
            <textarea name="content" type="text" id="content" class="form-control w30" >{$info.content}</textarea><div class="help-block">输入申请的理由</div>
          </td>
        </tr>
        <if condition="$info and $info['return_status'] eq 1" >
         <tr  bgcolor="#FFFFFF">
          <th> 开通时间： </th>
          <td colspan="5" style="text-align:left;">{$info.start_time|date='Y-m-d H:i:s',###}</td>
        </tr>
           <tr  bgcolor="#FFFFFF">
          <th> 结束时间： </th>
          <td colspan="5" style="text-align:left;"><empty name="info['end_time']">[永久终身]<else />{$info.end_time|date='Y-m-d H:i:s',###}</empty></td>
        </tr>
        
        </if>
    
        <tr bgcolor="#FFFFFF">
          <td  class="tLeft">&nbsp;</td>
          <td colspan="5"  class="tLeft">
            <if condition="$info and $info['return_status'] eq 2">
            <input type="submit" name="button" id="button" class="btn btn-primary btn6" value="正在审核中" disabled>
            <else />
          	<input type="submit" name="button" id="button" class="btn btn-primary btn6" value="提交">
            </if>
           <button type="button" class="btn btn6" onclick="history.go(-1)" name="backid" id="backid">返回</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
</div>
<script type="text/javascript">    
$(document).ready(function(){
	$("#button").click(function(){
		var typeid=$("#typeid").val();
		if(typeid==0){
			layer.tips('请选择网站分类', '#typeid',{tips: [2, '#337ab7']});
			return false;

		}
		var name=$("#name").val();
		if(name.length<=0){
			layer.tips('网站名称不能为空', '#name',{tips: [2, '#337ab7']});
			return false;

		}
		var siteurl=$("#siteurl").val();
		if(siteurl.length<=0){
			layer.tips('网站URL地址不能为空', '#siteurl',{tips: [2, '#337ab7']});
			return false;

		}
		var contact_us=$("#contact_us").val();
		if(contact_us.length<=0){
			layer.tips('网站联系人不能为空', '#contact_us',{tips: [2, '#337ab7']});
			return false;

		}
		var contact_qq=$("#contact_qq").val();
		var contact_tel=$("#contact_tel").val();
		if(contact_qq.length<=0&&contact_tel.length<=0){
			layer.alert("联系方式不能同时为空")
			return false;
		}
		layer.confirm('确定要提交申请嘛?', {
		  btn: ['确定','取消'] //按钮
		}, function(){
			$("#playList").submit(); //提交表单
		});
		return false;
	});
	
	$("#send_public").click(function(){
		layer.confirm('确定要发布到前台?发布后不可修改', {
		  btn: ['确定','取消'] //按钮
		}, function(){
			var index=layer.msg('加载中', {icon: 16,time:60000});
			 $.post("{:U('addcommon')}",{"type":1},function(data){
				 layer.close(index);
				 if(data.status==1){
					layer.msg(data.info, {icon: 1});	 
				 }else{
					layer.msg(data.info, {icon: 2});	 
				}
				setTimeout("window.location.reload();",2000);
		    })
		});
	});
});
</script>
</body>
</html>
